.input-group-addon.primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.input-group-addon.success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.inputgroup-addon-textbox {
  margin: 0 20%;
}
.btn-success {
  float: right;
  margin-right: 20%;
  margin-top: 2%;
}
.Container-Center {
  margin-left: 20%;
}
.Container-Center .Container-Center-blog .Container-Center-blog-main {
  background-color: #F2F2F2;
  padding: 1%;
  border-radius: 2%;
}
.Container-Center .Container-Center-blog .Container-Center-blog-main .Container-Center-blog-main-pic {
  float: left;
  width: 20%;
}
.Container-Center .Container-Center-blog .Container-Center-blog-main .Container-Center-blog-main-text {
  margin-left: 22%;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 1%;
}
.Container-Center .Container-Center-blog .Container-Center-blog-tags {
  margin-top: 1%;
  float: right;
}
