#container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#container #container-header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1%;
  height: 6.5em;
}
#container #container-header #container-header-form {
  float: right;
}
#container #container-header #container-header-form input {
  color: black;
}
#container #container-header #container-header-form li {
  float: right;
  margin: 10px;
}
#container #container-header #container-header-form .checkbox {
  float: left;
  margin-top: 5px;
}
#container #container-header #container-header-form .input-group {
  width: 200px;
  float: right;
  margin: 10px;
}
#container #container-header #container-header-form .input-group .input-group {
  margin: 0;
}
#container #container-header #container-header-form button {
  float: right;
  margin: 10px;
}
#container #container-main {
  width: 100%;
  height: 100%;
}
#container #container-main #container-register {
  position: absolute;
  right: 5em;
  float: right;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 2%;
  height: 30em;
  width: 22em;
  box-shadow: 2px 4px 14px #000;
}
#container #container-main #container-register #container-register-header h2 {
  font: 25px Georgia, "Times New Roman", Times, serif;
  padding: 0px 0px 10px 20px;
  display: block;
  border-bottom: 1px solid #DADADA;
  color: #888;
  font-weight: bolder;
}
#container #container-main #container-register #container-register-form {
  padding: 2% 7% 2% 7%;
}
#container #container-main #container-register #container-register-form .input-group {
  margin-bottom: 25px;
}
#container #container-main #container-register #container-register-form .button-sub {
  width: 100%;
}
#container #container-main #container-register #container-register-form .button-sub .btn-social-icon {
  float: right;
  margin-left: 25px;
}
#container #container-main #focus-box {
  width: 60%;
  padding-top: 5%;
  position: absolute;
  margin: 2%;
}
#container #container-main #focus-box div {
  margin-bottom: 30px;
}
#container #container-main #container-imgRow {
  margin-right: -15px;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: -15px;
}
#container #container-main #container-loginbutton {
  margin: 1%;
}
