.ui-tabs-nav, .ui-accordion-header {
      font-size: 12px;
    }

    .ui-tabs-panel, .ui-accordion-content {
      font-size: 14px;
    }

    .jqplot-target {
      font-size: 18px;
    }

    body > table {
      width: 700px;
      margin-left:auto;
      margin-right: auto;
    }
    body > table, body > table > tr, body > table > td {
      width: 700px;
      border none;
    }

    td>p {
      font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
      font-size: 14px;
    }