#addContainer-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
		
	#addContainer-left{
		height: 100%;
		position: absolute;
		left: 0;
		
				
		.wrapper{
			position: absolute;
			overflow-y: auto;
			overflow-x: hidden;
			bottom: 0;
			top: 0;
			margin-left: 0em;
			width: 100%;
			padding: 5%;
			.addlabel{
				margin-bottom: 1em;
				margin-left: 1em;
			}

			#addContainer-rName{
				width: 100%;
				margin-bottom: 1em;
			}
			#addContainer-photo-pTag{
				width: 100%;
				margin-bottom: 2em;
				#addContainer-photo{
					width: 8em;
					height: 8em;
				}
				#addContainer-pTag{
					margin-left: 5em;
					width: 100%;
					.pTag{
						width: 10em;
					}
				}
			}
			#addContainer-cat{
				width: 100%;
				margin-bottom: 1em;
				#cat-box{
					width: 94%
				}
				button {
					width: 110px;
				}
			}
			#addContainer-ingredient{
				width: 100%;
				.table{
					margin-top: 2em;

					.ingredient{
						margin-top: 2em;
					}
				}
				.table-1{
					width: 85%;
				}
				.table-2{
					width: 5%;
					text-align: center;
				}
				.table-3{
					width: 5%;
					text-align: center;
				}
				.table-4{
					width: 5%;
					text-align: center;
				}
				.table-1b{
					width: 55%;
				}
				.table-2b{
					width: 1%;
					text-align: center;
				}
				.table-3b{
					width: 18%;
					text-align: center;
				}
				.table-4b{
					width: 14%;
					text-align: center;
				}
			}
			#addContainer-quickNotes{
				width: 100%;
				margin-bottom: 1em;
			}
			#addContainer-direction{
				width: 100%;
				margin-bottom: 1em;
			}
			#addContainer-prep{
				width: 100%;
				margin-bottom: 1em;
			}
			#addContainer-see{
				margin-bottom: 1em;
				width: 100%;
				margin-left: -28.5em
			}
			#addContainer-notes{
				width: 100%;
				margin-bottom: 1em;

			}
			#addContainer-subsbutton{
				margin-bottom: 1em;
			}
		}

	}
	#addContainer-right{
		position: absolute;
		right: 0;
		padding-right: 2.5%;
		padding-left: 2.5%;
		padding-top: 3%;


	}

	
}