#addContainer {
  position: absolute;
  width: 100%;
}
#addContainer #addContainer-left {
  margin-right: 0em;
  margin-top: 4em;
}
#addContainer #addContainer-left #addContainer-see {
  margin-left: 4em;
}
#addContainer #addContainer-left #addContainer-rName {
  margin-left: 4em;
  width: 78%;
}
#addContainer #addContainer-left #addContainer-photo {
  margin-left: 4em;
  width: 12em;
  height: 12em;
}
#addContainer #addContainer-left #addContainer-photo #photos {
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}
#addContainer #addContainer-left #addContainer-rIng {
  margin-left: 0em;
}
#addContainer #addContainer-left #addContainer-rIng #categorize {
  margin-left: -1em;
}
#addContainer #addContainer-left #addContainer-rIng #addContainer-cat {
  margin-left: 4em;
}
#addContainer #addContainer-left #addContainer-rIng #addContainer-cat #catbox {
  width: 38%;
}
#addContainer #addContainer-left #addContainer-ingredient {
  margin-left: 4em;
  width: 78%;
  margin-top: 2em;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient .table-button {
  width: 6em;
  display: inline-flex;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient .table-button #box-align {
  width: 5em;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient #table-1 {
  width: 60%;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient #table-2 {
  width: 15%;
  text-align: center;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient #table-3 {
  width: 10%;
  text-align: center;
}
#addContainer #addContainer-left #addContainer-ingredient #ingredient #table-4 {
  width: 100%;
  text-align: center;
}
#addContainer #addContainer-left #addContainer-ingredient #ingButtonPlus {
  width: 4.77em;
}
#addContainer #addContainer-left #addContainer-direction {
  width: 78%;
  margin-top: 2em;
  margin-left: 4em;
}
#addContainer #addContainer-left #addContainer-direction #direction {
  width: 100%;
}
#addContainer #addContainer-left #addContainer-direction #button-direction {
  margin-top: 0.5em;
}
#addContainer #addContainer-left #addContainer-prep {
  margin-top: 2em;
  margin-left: 4em;
}
#addContainer #addContainer-left #addContainer-prep #preper {
  margin-bottom: 1em;
}
#addContainer #addContainer-left #addContainer-notes {
  margin-left: 4em;
  margin-top: 2em;
  width: 78%;
}
#addContainer #addContainer-left #addContainer-qD {
  margin-left: 4em;
  width: 77%;
}
#addContainer #addContainer-left #addContainer-qD #addContainer-quickNotes {
  width: 100%;
}
#addContainer #addContainer-left #addContainer-subsbutton {
  margin-top: 2em;
  margin-left: 4em;
  margin-bottom: 5em;
}
#addContainer #addContainer-right {
  width: 24em;
  margin-left: 0em;
  margin-top: 4em;
  border: solid;
}
