.input-group-addon.primary {
	    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}	

.inputgroup-addon-textbox{
	margin: 0 20%;
}

.btn-success{
	float: right;
	margin-right: 20%;
	margin-top: 2%;
}

#blogContainer{
	position: absolute;
	width: 100%;
	top: 0;
	width: 50%;	
	bottom: 0;
	position: absolute;
	overflow: auto;
	margin-left: 100px;	 
	margin-top:50px; 	

	#blogContainer-menu{
		




	}
	


	
}


#ContainerBlogs{
	

	margin-left: 10%;
}