.Container-Center{
	margin-left: 20%;

	.Container-Center-blog{

		


		.Container-Center-blog-title{
		}

		.Container-Center-blog-main{

			background-color: #F2F2F2;
			padding: 1%;
			border-radius: 2%;

			.Container-Center-blog-main-pic{
				float: left;
				width: 20%;
			}

			.Container-Center-blog-main-text{
				margin-left: 22%;
				background-color: #EBEBEB;
				border-radius: 10px;
				padding: 1%;
			}

		}

		.Container-Center-blog-tags{
			margin-top: 1%;
			float: right;

		}

	

		
	}
	
}