
#blogContainer{
	position: absolute;
	width: 100%;
	top: 0;
	width: 50%;	
	bottom: 0;
	position: absolute;
	overflow: auto;
	margin-left: 100px;	 
	margin-top:50px; 	

	#blogContainer-menu{
		

		.menu-blog-fluid{

				background-color: yellow;

		}

		.menu-blog-fluid-title{
			background-color: red;
		}

		.menu-blog-fluid.imgUser{

		}
		.heart{
		}

		.comment{
			height: 2%;
			transition: height 0.5s;
			-webkit-transition: height 0.5s;

			.comment-showComment{
	

				}
		}

	}
}



