#container #headerLogin {
  padding-top: 2px;
  float: right;
}
#container #linebreaker {
  padding: 5px;
}
#container #imgRow {
  margin-right: -15px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: -15px;
}
