@base: #333333;
@lighterBase: #D6D3C4;
@lightBase: #CDCAB9;
@banner: #432F21;
@font: #CA171B;


#Container {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;

	#Container-Head {
		background-color: @banner;
		height: 42px;
		border-bottom: 1px solid black;
	}

	#Container-Left {
		height: 100%;
		border-right: 1px solid black;
		padding: 0;
		background-color: @lightBase;

		#Container-Left-Menu {

			.accordion-group {
			    margin-bottom: 0px;
			    border:0px;
			    -webkit-border-radius: 0px;
			    -moz-border-radius: 0px;
			    border-radius: 0px;

			    p {
			    	display: inline-block;
					font-size: 24px;
					color: #000;
					font-weight: bolder;
					margin-left: 10px;
			    }
			}    
			
			.accordion-heading {
				height: 40px;
				border-bottom: 1px solid #000;
				background-color: @lightBase;

				a {
					color: #000; 
					text-decoration:none;
					font-weight:bold;
					float: left;
					margin-top: 6px;
					margin-left: 10px;

					p {
						margin-left: 8px;
						font-size: 1.2em;
						cursor: pointer;

						&:hover {
							color:@font;
						}
					}
				}
			}  

			.accordion-inner {
				ul {
					border-bottom: 1px solid #000;
					margin-bottom: 0px;
				}

				li {
					list-style: none;
					margin-left: 8px;
					font-weight: bold;
					cursor: pointer;
					color: black;

					&:hover {
						color:@font;
					}
				}
			}
		}

		.list-group-item {
			margin: 0;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.1;
			color: white;
			background-color: @lightBase;
			border-radius: 0px !important;
			border: none;
			cursor: pointer;

			&:hover {
				color:black;
			}
		}

		.list-selected {
			background-color: black;
			color:black;
			border: solid black;
			border-width: 2px 0px 2px 2px;
		}
	}
	
	#Container-Center {
		height: 94%;
		overflow: overlay;

		.block {
			width: 35em;
			height: 15em;
			border: 1px solid black;
			margin: 2em auto 2em auto;


			&.food {

			}

			&.post {
				
			}

			&.proPost {
				
			}
		}

	}

	#Container-Right {
		height: 100%;
		border-left: 1px solid black;
		padding: 0;
		time-line {
			table {
				width: 100%;

				tr {
					border-bottom: 1px dashed #ccc;
					padding: 10px;
					width: 100%;

					&:hover {
					}

					td {
						width: 100%;
						float: left;

						&:nth-child(even) {
							background-color: #e1e1e1;
						}

						&.hours {
							padding: 10px;
							font-weight: bolder;
						}

						&.cell-minutes {
							height: 30px;
							display: none;
						}

						span {
							&.minutes {
								padding: 7px 10px 7px 10px;
								margin-top: 5px;
								font-style: italic;
								font-weight: lighter;
								text-align: center;
								line-height: 2.2em;
								border-right: 1px solid #ccc;
							}
						}

						&.now {
							color: orange;
						}
					}
				}
			}


		}
	}
}