#body {
	.body-display {
		img {
			color: #000;
		}
	}

	.body-form {
		padding: 5%;
		width: 100%;

		.form-group {
			width: 60%;
			float: left;

			label {
				float: left;
				line-height: 34px;
				height: 34px;
			}

			input {

				display: inline-block;
				width: 150px;
				float: right;
			}

			span {
				min-width: 44px;
			}
		}

		button {

		}
	}
}
#jkP7, jkP4, dWp4{	
	.thumbnail{
		width: 13.5em;
		.boxSize{
			width: 6em;
		} 
	}
}
#jkP4{	
	.thumbnail{
		width: 13.5em;
		.boxSize{
			width: 6em;
		} 
	}
}
#dWp4{	
	.thumbnail{
		width: 13.5em;
		.boxSize{
			width: 6em;
		} 
	}
}