.messurements {
	.content-wraper {
		position: absolute;
		top: 50px;
		bottom: 0;
		right: 0;
		left: 0;
		overflow: overlay;

		#tab-content {
			overflow-y: auto;

			#body {
				.row {
					width: auto;
					padding: 0;

					.body-display {
						padding: 20px;
					}

					.body-form {
						padding: 5%;
						width: 100%;

						.form-group {
							width: 60%;
							float: left;

							label {
								float: left;
								line-height: 34px;
								height: 34px;
							}

							input {
								display: inline-block;
								width: 150px;
								float: right;
							}

							span {
								min-width: 44px;
							}
						}
					}
				}
			}
			
			.row {
				margin: 0 auto;
				padding: 20px 0;
				width: 660px;

				.col-sm-2 {
					width: 140px;
					margin-right: 75px;


					.input-group {
						margin-top: 10px;
						margin-left: -5px;

						input {
							width: 115px;
						}
					}
				}
			}
		}
	}
}