.container {
  position: absolute;
  width: 100% !important;
  padding: 0;
  top: 0;
  bottom: 0;
}
.container .main {
  height: 100%;
  background-color: #252525;
}
.container .main #main-container {
  height: 100%;
  border-right: 1px solid #2c2c2c;
}
.container .main #main-container .search {
  height: 4.8em;
  background-color: #fff;
  border-bottom: 1px solid #c6d0da;
}
.container .main #main-container .search #main-container-search {
  border-bottom: 1px solid #2c2c2c;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.container .main #main-container .search #main-container-search .row {
  height: 4.8em;
}
.container .main #main-container .search #main-container-search .cf {
  zoom: 1;
}
.container .main #main-container .search #main-container-search .cf:before,
.container .main #main-container .search #main-container-search .cf:after {
  content: "";
  display: table;
}
.container .main #main-container .search #main-container-search .cf:after {
  clear: both;
}
.container .main #main-container .search #main-container-search .form-wrapper {
  padding: 15px;
  margin: auto;
  width: 775px;
}
.container .main #main-container .search #main-container-search .form-wrapper input {
  width: 40em;
  height: 2.5em;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border: 1px solid #000;
}
.container .main #main-container .search #main-container-search .form-wrapper input:focus {
  outline: 0;
  background: #fff;
}
.container .main #main-container .search #main-container-search .form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.container .main #main-container .search #main-container-search .form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.container .main #main-container .search #main-container-search .form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.container .main #main-container .search #main-container-search .form-wrapper button {
  overflow: visible;
  position: relative;
  float: left;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 2.5em;
  width: 70px;
  font: 700 15px/40px 'lucida sans', 'trebuchet MS', Tahoma;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
}
.container .main #main-container .search #main-container-search .form-wrapper button:hover {
  color: #000;
}
.container .main #main-container .search #main-container-search .form-wrapper .dropdown-menu {
  width: 33.7em;
  font-size: 20px;
}
.container .main #main-container .browse {
  position: relative;
  height: calc(100% - 4.8em);
  background-color: #fff;
}
.container .main #main-container .browse .browse-container {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.container .main #main-container .browse .browse-container .block-container {
  width: calc(100% / 3 - 20px);
  height: 31em;
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px;
}
.container .main #main-container .browse .browse-container .block-container .move-animation.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.container .main #main-container .browse .browse-container .block-container .move-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.container .main #main-container .browse .browse-container .block-container .move-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.container .main #main-container .browse .browse-container .block-container .move-animation.ng-move.ng-move-active {
  opacity: 1;
}
.container .main #main-container .browse .browse-container .block-container .move-animatio.ng-leave {
  -webkit-animation: 0.5s hide;
  -moz-animation: 0.5s hide;
  -o-animation: 0.5s hide;
  animation: 0.5s hide;
}
.container .main #main-container .browse .browse-container .block-container .browse-block {
  display: inline-block;
  z-index: 1000;
  width: 100%;
  height: 100%;
  min-height: 1px;
  float: left;
  overflow: hidden;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid;
  border-radius: 4px;
  -moz-transition-property: width, height, margin;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: width, height, margin;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: width, height, margin;
  -o-transition-duration: 0.5s;
  -transition-property: width, height, margin;
  transition-duration: 0.5s;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .imgHeader {
  height: 230px;
  width: 230px;
  margin: 20px auto;
  margin-bottom: 5px;
  border: 1px solid gray;
  display: block;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 1px solid black !important;
  position: relative;
  float: right;
  margin: 5px 5px 0px 0px;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-blue {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-blue:hover {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-yellow {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-yellow:hover {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-green:hover {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-red:hover {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-orange {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-orange:hover {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-lightBlue {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-lightBlue:hover {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-gray {
  color: #fff;
  background-color: #848282;
  border-color: #626161;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-gray:hover {
  background-color: #626161;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-redBrown {
  color: #fff;
  background-color: #790000;
  border-color: #790000;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-redBrown:hover {
  background-color: #ae5c5c;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-pink {
  color: #fff;
  background-color: #ec528d;
  border-color: #357ebd;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-pink:hover {
  background-color: #ec6a9c;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-brown {
  color: #fff;
  background-color: #603913;
  border-color: #241b24;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-brown:hover {
  background-color: #754c24;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-defult {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-white {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .tag.block-white:hover {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.container .main #main-container .browse .browse-container .block-container .browse-block:hover {
  width: 100%;
  height: 31em;
  margin-top: -1em;
  overflow: hidden;
  -moz-transition-duration: .1s;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
  z-index: 1000000;
  position: relative;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .title-container {
  text-align: center;
  height: 4em;
  background-color: #383838;
  color: #fff;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .title-container .title {
  margin: 0;
  font-size: 130%;
  font-weight: bolder;
  padding-bottom: 20px;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .title-container .subTitle {
  position: relative;
  top: -13px;
  font-style: italic;
  white-space: nowrap;
  text-align: left;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info-text {
  width: 100%;
  padding: 5px;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info {
  width: 100%;
  height: 60px;
  padding: 5px;
  color: #000;
  border-top: 1px solid #c6d0da;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info .info-row {
  width: 100%;
  height: 24px;
  display: inline;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info .info-row .info-container {
  float: left;
  display: inline-block;
  width: 100%;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info .info-row .info-container .head {
  font-weight: bolder;
}
.container .main #main-container .browse .browse-container .block-container .browse-block .info .info-row .info-container .head .value {
  font-style: italic;
  font-weight: normal;
  float: right;
  margin-right: 12px;
}
.container .main #main-container .browse #alphaOrder {
  position: absolute;
  right: 0;
  top: 10px;
  width: 48px;
  height: 100%;
  border-left: 1px solid #2c2c2c;
  padding: 0;
  overflow: hidden;
}
.container .main #main-container .browse #alphaOrder .letter {
  color: #fff;
  margin-bottom: 6px;
  font-size: 0.8em;
  width: 100%;
  height: 2.9%;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-align: center;
}
.container .main #main-container .browse #alphaOrder .letter:hover {
  color: orange;
  text-shadow: -1px 0px 13px #ffffff;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
