.container {
	position: absolute;
	width: 100% !important;
	padding: 0;
	top: 0;
	bottom: 0;

	.main {
		height: 65%;
		background-color: rgb(37, 37, 37);

		#main-container {
			height: 65%;
			border-right: 1px solid #2c2c2c;







.browse {
position: relative;
height: calc(~'65% - 4.8em');
background-color: #fff;

.browse-container {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 65%;
	padding: 10px;

	.block-container {
		width: calc(~'65% / 3 - 20px');
		height: 31em;
		position: relative;
		display: inline-block;
		float: left;
		margin: 10px;

	    .move-animation {
	    	&.ng-enter {
				-webkit-transition:0.5s linear all;
				-moz-transition:0.5s linear all;
				-o-transition:0.5s linear all;
				transition:0.5s linear all;
				opacity:0;

				&.ng-enter-active {
					opacity:1;
				}
		    }

		    &.ng-move {
				-webkit-transition:0.5s linear all;
				-moz-transition:0.5s linear all;
				-o-transition:0.5s linear all;
				transition:0.5s linear all;
				opacity:0;

				&.ng-move-active {
					opacity:1;
				}
		    }
	    }

		.move-animatio.ng-leave {
		  -webkit-animation:0.5s hide;
		  -moz-animation:0.5s hide;
		  -o-animation:0.5s hide;
		  animation:0.5s hide;
		}

		.browse-block {
			display: inline-block;
			z-index: 1000;
			width: 100%;
			height: 65%;
			min-height: 1px;
			float: left;
			overflow: hidden;
			cursor: pointer;
			background-color: #f5f5f5;
			border: 1px solid;
			border-radius: 4px;
			-moz-transition-property: width, height, margin;
			-moz-transition-duration: 0.5s;
			-webkit-transition-property: width, height, margin;
			-webkit-transition-duration: 0.5s;
			-o-transition-property: width, height, margin;
			-o-transition-duration: 0.5s;
			-transition-property: width, height, margin;
			transition-duration: 0.5s;

			.imgHeader {
				height: 230px;
				width: 230px;
				margin: 20px auto;
				margin-bottom: 5px;
				border: 1px solid gray;
				display: block;
			}
	.imgHeader{
		max-height: 150px;
		max-width: 200px;
		width: 120px;
		height: 120px;
	}
}
}
}}}}
}

