<div id="ProfileContainer" class="profileContainer col-md-9" ng-controller="profileController">
	<div class="col-md-12">
		<div class="well well-sm">
			<form>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="name">Title</label>
							<input ng-model="timeline.title"type="text" class="form-control" id="name" placeholder="Title" required="required" />
							<label for="tags">Tags</label>
							<input ng-model="timeline.tags"type="text" class="form-control" id="name" placeholder="Place your tags" required="required" />
						</div>
						<div class="form-group">
							<label for="subject">Subject</label>
							<select id="subject" name="subject" class="form-control" required="required">
								<option value="na" selected="">Choose One:</option>
								<option value="service">Blog</option>
								<option value="suggestions">Food</option>
								<option value="product">Trainings</option>
							</select>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label for="name">Post</label>
							<textarea ng-model="timeline.body"name="message" id="message" class="form-control" rows="8.5" cols="25" required="required"
							placeholder="Whats up?"></textarea>
						</div>
					</div>
					<div class="col-md-12">
						<button ng-click="post()"type="submit" class="btn btn-primary pull-right" id="btnContactUs">Post it!</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div ng-repeat="post in posts" id="ProfileContainer-Timeline" class="col-md-12 column">
		<br><br>
		<div class="profileContainer-fluid well span6">
			<div class="profileContainer-timeline-feed">
				<div class="title col-md-12">
					<h1>{{post.title}}</h1>
					<hr>
				</div>
				
				<div class="body col-md-12">
					<p>{{post.body}}</p>
					<hr>
				</div>
				
				<div class="footer">

					<span class="badge">Posted 2012-08-02 20:47:04</span>
					<div ng-repeat="tag in post.tags" class="pull-right">
						<span class="label label-success">{{tag}}</span> 
					</div>  
				</div> 

<ul>
	<li>
		<button ng-click="favsCounter(post._id)" style="padding-left: 10%;padding-right: 10%;" class="heart well span2">
			<span class="glyphicon glyphicon-heart"></span>
			<span class="glyphicon-class">{{ post.meta.favs }}</span>
		</button>
	</li>
	<li>
	<div class="panel-body">
			<div ng-repeat="comment in post.comments" class="viewComment">
				<div class="panel panel-default widget">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-10 col-md-11">
									<div>
										<div class="mic-info">
											By: <a href="#"> {{comment.commenter}}Bhaumik Patel</a> on {{comment.date}}
										</div>
									</div>
									<div class="comment-text">
										{{comment.body}}
									</div>
									<div class="action">
										<button type="button" class="btn btn-primary btn-xs" title="Edit">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" class="btn btn-success btn-xs" title="Approved">
											<span class="glyphicon glyphicon-ok"></span>
										</button>
										<button type="button" class="btn btn-danger btn-xs" title="Delete">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</div>
								</div>
							</div>
						</li>
					</ul>	
				</div>
			</div>
		</div>
		<span class="glyphicon glyphicon-comment"></span>
		<span class="glyphicon-class">Write a comment</span>
		<div class="comment-showComment">
			<div type="input" class="comment-showComment-field">
				<div class="input-group" style="width: 100%;">
					<input  ng-model="post.comment"type="text" class="form-control" name="validate-text" id="validate-text" style="border-radius: 21px;"placeholder="Do you have any comments?">
					<button type="button" ng-click="addComment(post._id, post.comment)" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
				</div>
			</div>
		</div>
	</li>
</ul>

			</div>
			
		</div>
	</div>

</div>