<div id="profileContainer" class="profileContainer" ng-controller="profileController">
	<div id="ProfileContrainer-Left" class="col-md-2 column">
		<div class="profileContainer-left"> <br>
			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-left-userPhoto" >
					<div class="row-fluid">
						<img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
					</div>
				</div>


				<div class="popover-markup"> 
					<a class="trigger" data-placement="bottom">Change pic</a> 
					<div class="popInput">
						<div class="head hide">Url..</div>
						<div class="content hide">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Whats your url?">
							</div>
							<button type="submit" class="btn btn-default btn-block">Submit</button>
						</div>
					</div>
				</div>
			</div>

		{{fuck}}			
<div ng-repeat="profile in profiles" class="profileContainer-fluid well span6">
				<div class="profileContainer-left-userInfo" >
					<div class="row-fluid">
						<p>i am {{profile.user}}</p>
						<p>i am {{profile.firstName}} {{user.lastName}}</p>
						<p>i am {{profile.email}}</p>
						<p>i am {{profile.height}}</p>
						<p>i am {{profile.weight}}</p>
					</div>
				</div>
				<div class="profileContainer-left-userPhoto-btn">
					<div class="popover-markup"> 
						<a class="trigger" data-placement="bottom">Change info</a> 
						<div class="popInput">
							<div class="head hide">What do you want to change Sindri..</div>
							<div class="content hide">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="{{user.user}}">
									<input type="text" class="form-control" placeholder="{{user.firstName}}">
									<input type="text" class="form-control" placeholder="{{user.lastName}}">
									<input type="text" class="form-control" placeholder="{{user.email}}">
									<input type="text" class="form-control" placeholder="{{user.height}}">
									<input type="text" class="form-control" placeholder="{{user.weight}}">
								</div>
								<button type="submit" class="btn btn-default btn-block">Save!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="post in timeline" id="ProfileContainer-Timeline" class="col-md-8 column">
		<div class="profileContainer-timeline">
			<br><br>
			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-timeline-feed">
					<div class="col-md-12">
						<h1>{{post.title}}/h1>
						<p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
							'Yes, we went to school in the sea, though you mayn't believe it—'
							'I never said I didn't!' interrupted Alice.
							'You did,' said the Mock Turtle.</p>
					</div>
						<span class="badge">Posted 2012-08-02 20:47:04</span>
						<div class="pull-right">
							<span class="label label-default">alice</span> 
							<span class="label label-primary">story</span> 
							<span class="label label-success">blog</span> 
							<span class="label label-info">personal</span> 
							<span class="label label-warning">Warning</span>
							<span class="label label-danger">Danger</span>
						</div>         
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
	