<div class="row">
	<div class="col-md-8">
		<form>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Everyone</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
		                <span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Only me</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Recipe Name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<img src="http://www.iconsdb.com/icons/preview/moth-green/berry-xxl.png" alt="food" class="img-thumbnail" width="100%"  />
						<input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					2
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<textarea class="form-control" rows="3">asdfasdf</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					4
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					5
				</div>
			</div>
		</form>
	</div>
</div>