<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#how" data-toggle="tab">How to</a></li>
        <li><a data-target="#mrp" data-toggle="tab">Nutrition options</a></li>
        <li><a data-target="#mpp" data-toggle="tab">Meal Names</a></li>  
        <li><a data-target="#nl" data-toggle="tab">Nutrition Label</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="how">
            <h1>Here you can read something about what you can do..... </h1>           
        </div>
        <div class="tab-pane" id="mpp">
        	<div class="row">
 			 	<div class="col-md-8">
  					<table class="table table-striped">
					  	<tr>	
					  		<th>Meal name</th>
					  		<th>Percent of calories</th>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-1" min="0" step="1" max="50000" class="form-control" placeholder="Example: Breakfast " />
			        				</div>
			        			</div>
							</td>
							<td>
				        		<div class="row">
			    	    			<div class="col-xs-3">
			        					<input type="number" id="meaPer-1" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					 	</tr>
					 	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-2" min="0" step="1" max="50000" class="form-control" placeholder="Example: Brunch" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-2" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-3" min="0" step="1" max="50000" class="form-control" placeholder="Example: Launch" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-3" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					 	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-4" min="0" step="1" max="50000" class="form-control" placeholder="Example: Coffie" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-4" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-5" min="0" step="1" max="50000" class="form-control" placeholder="Example: Dinner" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-5" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
							<td>
						  	    <div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-6" min="0" step="1" max="50000" class="form-control" placeholder="Example: Late snakk" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-6" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-7" min="0" step="1" max="50000" class="form-control" placeholder="Example: Late snack" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-7" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-8" min="0" step="1" max="50000" class="form-control" placeholder="Example: Pre-workout" />
				        			</div>
				        		</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-8" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-9" min="0" step="1" max="50000" class="form-control" placeholder="Post-workout" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-9" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-10" min="0" step="1" max="50000" class="form-control" placeholder="Example: Vitamin" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-10" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					</table>
				</div>
			</div>			
    	</div>
        <div class="tab-pane" id="mrp">
        	<div class="row">
			 	<div class="col-md-8">
					<table class="table table-striped">
						<tr>
							<th colspan="3"><h3>Target macronutrients</h3></th>
						</tr>	
	        			<tr>
	        				<td>Calories:</td>
	        				<td colspan="2">
	        					<div class="row">
	        						<div class="col-xs-3">
	        							<input type="number" id="calDay" min="0" step="1" max="50000" class="form-control" placeholder="Calories Per Day" />
	        						</div>
	        					</div>
							</td>
	        			</tr>	
	        			<tr>	
							<th>Adjustments for the day</th>
	        				<th>Grams (g)</th>
	        				<th>Percent (%)</th>
	        			</tr>
	        			<tr>	
							<td>Carbohydrate:</td>	
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="calGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="carPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>	
	        				<td>Fat:</td>
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="fatGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="fatPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>
							<td>Protein:</td>
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="proGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="proPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>
							<th colspan="3"><h3>Food and recipe filters</h3></th>
						</tr>
						<tr>
							<td>
								<h4>Protein</h4>
								<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Red Meat</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Beef</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Pork/Bacon</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Lamb</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Veal</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Poultry</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Chicken</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Turkey</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Fish</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Salmon</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Tuna</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Tilapia</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Sardines</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Trout & Snapper</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Shellfish</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Dairy</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Milk</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Cream</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Eggs</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Mayo</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Cheese</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Yogurt</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Cottage cheese</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Whey powder</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Soy products</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Tofu</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Soy milk</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
							</td>
							<td>
								<h4>Carbs</h4>
								<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Grains</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Breakfast cereals</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Pastas</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Breads</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Rice</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Oatmeal</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Sugar</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Legumes</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Beans</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Lentils</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Peas</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Fruit</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Apple</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Banana</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Grapes</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Orange</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Strawberries</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Raspberries</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Blueberries</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Fruit juice</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Starchy Vegetables</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Potatoes</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Corn</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
							</td>
							<td>
								<h4>Veggies & Fats</h4>
								<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Vegetables</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Artichoke</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Asparagus</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Beets</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Broccoli</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Carrots</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Sprouts</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Celery</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Peppers</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Tomato</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Eggplant</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Fats & Nuts  </button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Avocado</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Peanuts</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Almonds</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Walnuts</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
                            	<span class="button-checkbox">
                                	<button type="button" class="btn" data-color="primary">Pecans</button>
                                	<input type="checkbox" class="hidden" />
                            	</span>
							</td>
						</tr>
					</table>
			 	</div>
			</div>
    	</div>
    	<div class="tab-pane" id="nl">
    		<div class="row">
  				<div class="col-md-12">
				<div id="nutr-container">
					<div class="row">
						<div class="col-sm-2">
							<div>Næring</div>
							<span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Prótein (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fita (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Kolvetni (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Trefjaefni (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Sykrur  (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Viðbættur sykur (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Kólesteról (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Vatn  (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Alkóhól (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
							<div>Steinefni</div>
							<span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Magnesíum (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Joð (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fosfór (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Járn (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Sink (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Kalk (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Kopar (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Natríum (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Selen (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>
                        </div>
                        <div class="col-sm-2">	
							<div>Fitusýrur </div>
							<span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Mettaðar (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Einómettaðar (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fjölómettaðar (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fjölómettaðar n-3 langar (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fjölómettaðar n-6 (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fjölómettaðar n-3 (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">trans-Fitusýrur (g)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <div>Vítamín</div>
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">B2-vítamín (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">B6-vítamín (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">B-12 vítamín (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">C-vítamín (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">D-vítamín (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">E-vítamín (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Retinol (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Beta-karótín (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Níasín-jafngildi (mg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="primary">Fólat (µg)</button>
                               	<input type="checkbox" class="hidden" />
                            </span>	

						</div>
		 				<div class="col-md-8">
							<div class="nutrition-label">
								<section class="performance-facts">
									<header class="performance-facts__header">
										<h1 class="performance-facts__title">Nutrition Facts</h1>
										<p>Serving Size 1/2 cup (about 82g)
										<p>Serving Per Container 8</p>
									</header>
									<table class="performance-facts__table">
										<thead>
											<tr>
												<th colspan="3" class="small-info">
													Amount Per Serving
												</th>
											</tr>
										</thead>
											<tbody>
												<tr>
													<th colspan="2">
														<b>Calories</b>
														200
													</th>
													<td>
														Calories from Fat
														130
													</td>
												</tr>
												<tr class="thick-row">
													<td colspan="3" class="small-info">
														<b>% Daily Value*</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Total Fat</b>
														14g
													</th>
													<td>
														<b>22%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Saturated Fat
														9g
													</th>
													<td>
														<b>22%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Trans Fat
														0g
													</th>
													<td>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Cholesterol</b>
														55mg
													</th>
													<td>
														<b>18%</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Sodium</b>
														40mg
													</th>
													<td>
														<b>2%</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
													<b>Total Carbohydrate</b>
													17g
													</th>
													<td>
														<b>6%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Dietary Fiber
														1g
													</th>
													<td>
														<b>4%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Sugars
														14g
													</th>
													<td>
													</td>
												</tr>
												<tr class="thick-end">
													<th colspan="2">
														<b>Protein</b>
														3g
													</th>
													<td>
													</td>
												</tr>
											</tbody>
										</table>
										<table class="performance-facts__table--grid">
											<tbody>
												<tr>
													<td colspan="2">
														Vitamin A
														10%
													</td>
													<td>
														Vitamin C
														0%
													</td>
												</tr>
												<tr class="thin-end">
													<td colspan="2">
														Calcium
														10%
													</td>
													<td>
														Iron
														6%
													</td>
												</tr>
											</tbody>
										</table>
										<p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>
										<table class="performance-facts__table--small small-info">
											<thead>
												<tr>
													<td colspan="2"></td>
													<th>Calories:</th>
													<th>2,000</th>
													<th>2,500</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th colspan="2">Total Fat</th>
													<td>Less than</td>
													<td>65g</td>
													<td>80g</td>
												</tr>
												<tr>
													<td class="blank-cell"></td>
													<th>Saturated Fat</th>
													<td>Less than</td>
													<td>20g</td>
													<td>25g</td>
												</tr>
												<tr>
													<th colspan="2">Cholesterol</th>
													<td>Less than</td>
													<td>300mg</td>
													<td>300 mg</td>
												</tr>
												<tr>
													<th colspan="2">Sodium</th>
													<td>Less than</td>
													<td>2,400mg</td>
													<td>2,400mg</td>
												</tr>
												<tr>
													<th colspan="3">Total Carbohydrate</th>
													<td>300g</td>
													<td>375g</td>
												</tr>
												<tr>
													<td class="blank-cell"></td>
													<th colspan="2">Dietary Fiber</th>
													<td>25g</td>
													<td>30g</td>
												</tr>
											</tbody>
										</table>
										<p class="small-info">	
										Calories per gram:
										</p>
										<p class="small-info text-center">
											Fat 9
											&bull;
											Carbohydrate 4
											&bull;
											Protein 4
										</p>
									</section>
								</div>
		 					</div>
						</div>
    				</div>
   				 </div>
			</div>
		</div>
	</div>
</div>






<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script> 