<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#how" data-toggle="tab">How to</a></li>
        <li><a data-target="#mrp" data-toggle="tab">Nutrition options</a></li>
        <li><a data-target="#mpp" data-toggle="tab">Meal Names</a></li>  
        <li><a data-target="#nl" data-toggle="tab">Nutrition Label</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="how">
            <h1>Here you can read something about what you can do..... </h1>           
        </div>
        <div class="tab-pane" id="mpp">
        	<div class="row">
 			 	<div class="col-md-8">
  					<table class="table table-striped">
					  	<tr>	
					  		<th>Meal name</th>
					  		<th>Percent of calories</th>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-1" min="0" step="1" max="50000" class="form-control" placeholder="Example: Breakfast " />
			        				</div>
			        			</div>
							</td>
							<td>
				        		<div class="row">
			    	    			<div class="col-xs-3">
			        					<input type="number" id="meaPer-1" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					 	</tr>
					 	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-2" min="0" step="1" max="50000" class="form-control" placeholder="Example: Brunch" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-2" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-3" min="0" step="1" max="50000" class="form-control" placeholder="Example: Launch" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-3" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					 	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-4" min="0" step="1" max="50000" class="form-control" placeholder="Example: Coffie" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-4" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-5" min="0" step="1" max="50000" class="form-control" placeholder="Example: Dinner" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-5" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
							<td>
						  	    <div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-6" min="0" step="1" max="50000" class="form-control" placeholder="Example: Late snakk" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-6" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-7" min="0" step="1" max="50000" class="form-control" placeholder="Example: Late snack" />
				        			</div>
				        		</div>
							</td>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="number" id="mealPer-7" min="0" step="1" max="50000" class="form-control" placeholder="%" />
				        			</div>
				        		</div>
							</td>
						</tr>
						<tr>
							<td>
				        		<div class="row">
				        			<div class="col-xs-3">
				        				<input type="text" id="mealName-8" min="0" step="1" max="50000" class="form-control" placeholder="Example: Pre-workout" />
				        			</div>
				        		</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-8" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-9" min="0" step="1" max="50000" class="form-control" placeholder="Post-workout" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-9" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					  	<tr>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="text" id="mealName-10" min="0" step="1" max="50000" class="form-control" placeholder="Example: Vitamin" />
			        				</div>
			        			</div>
							</td>
							<td>
			        			<div class="row">
			        				<div class="col-xs-3">
			        					<input type="number" id="mealPer-10" min="0" step="1" max="50000" class="form-control" placeholder="%" />
			        				</div>
			        			</div>
							</td>
					  	</tr>
					</table>
				</div>
			</div>			
    	</div>
        <div class="tab-pane" id="mrp">
        	<div class="row">
			 	<div class="col-md-8">
					<table class="table table-striped">
						<tr>
							<th colspan="3"><h3>Target macronutrients</h3></th>
						</tr>	
	        			<tr>
	        				<td>Calories:</td>
	        				<td colspan="2">
	        					<div class="row">
	        						<div class="col-xs-3">
	        							<input type="number" id="calDay" min="0" step="1" max="50000" class="form-control" placeholder="Calories Per Day" />
	        						</div>
	        					</div>
							</td>
	        			</tr>	
	        			<tr>	
							<th>Adjustments for the day</th>
	        				<th>Grams (g)</th>
	        				<th>Percent (%)</th>
	        			</tr>
	        			<tr>	
							<td>Carbohydrate:</td>	
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="calGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="carPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>	
	        				<td>Fat:</td>
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="fatGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="fatPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>
							<td>Protein:</td>
							<td>
								<div class="row">
							  		<div class="col-xs-3">
							    		<input type="number" id="proGram" min="0.1" step="0.1" max="10000" class="form-control" placeholder="Grams">
								 	</div>
								 </div>
							</td>
	        				<td>
	        					<div class="row">
							  		<div class="col-xs-4">
							    		<input type="number" id="proPerc" min="0" step="1" max="100" class="form-control" placeholder="Percent">
								 	</div>
								 </div>
	        				</td>
	        			</tr>
	        			<tr>
							<th colspan="3"><h3>Food and recipe filters</h3></th>
						</tr>
						<tr>
							<td>
								<h4>Protein</h4>
						      	<input type="checkbox" name="horse" />Red Meat
						        <input type="checkbox" name="beef-sausage" />Beef
						        <input type="checkbox" name="pork-bacon-ham" />Pork/Bacon
						        <input type="checkbox" name="lamb" checked="checked" />Lamb
						        <input type="checkbox" name="veal" />Veal
								<input type="checkbox" name="poultry" />Poultry
						        <input type="checkbox" name="chicken" />Chicken
						        <input type="checkbox" name="turkey" />Turkey
						        <input type="checkbox" name="fish" />Fish
						        <input type="checkbox" name="salmon" />Salmon
						        <input type="checkbox" name="tuna" />Tuna
						        <input type="checkbox" name="tilapia" />Tilapia
						        <input type="checkbox" name="sardine" />Sardines
						        <input type="checkbox" name="trout-bass-snapper-cod-anchovies-mackerel-herring" />Trout & Snapper
						        <input type="checkbox" name="shrimp-crab-lobster-oyster-clam" />Shellfish
					            <input type="checkbox" name="dairy" />Dairy
					            <input type="checkbox" name="milk" />Milk
					            <input type="checkbox" name="cream" />Cream
					            <input type="checkbox" name="egg" />Eggs
					            <input type="checkbox" name="mayonnaise" />Mayo
					            <input type="checkbox" name="cheese" />Cheese
					            <input type="checkbox" name="yogurt" />Yogurt
					            <input type="checkbox" name="cottage" />Cottage cheese
					            <input type="checkbox" name="whey" />Whey powder
					            <input type="checkbox" name="soy" />Soy products
					            <input type="checkbox" name="tofu" />Tofu
					            <input type="checkbox" name="soymilk" />Soy milk
							</td>
							<td>
								<h4>Carbs</h4>
								<input type="checkbox" name="grain-granola" />Grains
					            <input type="checkbox" name="breakfast cereals" />Breakfast cereals
					            <input type="checkbox" name="pasta-spaghetti-couscous-quinoa" />Pastas
					            <input type="checkbox" name="bread-bagel-pastry-pastries-tortilla-bun-wheat" />Breads
					            <input type="checkbox" name="rice" />Rice
					            <input type="checkbox" name="oatmeal" />Oatmeal
					            <input type="checkbox" name="sugar-cola" />Sugar
					            <input type="checkbox" name="legumes" />Legumes
					            <input type="checkbox" name="beans" />Beans
					            <input type="checkbox" name="lentils" />Lentils
					            <input type="checkbox" name="peas" />Peas
					            <input type="checkbox" name="fruits" />Fruit
					            <input type="checkbox" name="apple-melon" />Apple
					            <input type="checkbox" name="banana" />Banana
					            <input type="checkbox" name="grape" />Grapes
					            <input type="checkbox" name="orange" />Orange
					            <input type="checkbox" name="strawberries" />Strawberries
					            <input type="checkbox" name="raspberries" />Raspberries
					            <input type="checkbox" name="blueberries" />Blueberries
					            <input type="checkbox" name="juice" />Fruit juice
					            <input type="checkbox" name="starchyveggies" />Starchy Vegetables
					            <input type="checkbox" name="potato" />Potatoes
					            <input type="checkbox" name="corn" />Corn
							</td>
							<td>
								<h4>Veggies & Fats</h4>
								    <input type="checkbox" name="vegetables" />Vegetables
						            <input type="checkbox" name="artichoke" />Artichoke
						            <input type="checkbox" name="asparagus" />Asparagus
						            <input type="checkbox" name="beets" />Beets
						            <input type="checkbox" name="broccoli" />Broccoli
						            <input type="checkbox" name="carrot" />Carrots
						            <input type="checkbox" name="sprouts" />Sprouts
						            <input type="checkbox" name="celery" />Celery
						            <input type="checkbox" name="peppers" />Peppers
						            <input type="checkbox" name="tomato" />Tomato
						            <input type="checkbox" name="eggplant" />Eggplant
						            <input type="checkbox" name="fatsandnuts" />Fats & Nuts            
						            <input type="checkbox" name="avocado" />Avocado
						            <input type="checkbox" name="peanut" />Peanuts
						            <input type="checkbox" name="almond" />Almonds
						            <input type="checkbox" name="walnut" />Walnuts
						            <input type="checkbox" name="pecan" />Pecans
							</td>
						</tr>
					</table>
			 	</div>
			</div>
    	</div>
    	<div class="tab-pane" id="nl">
    		<div class="row">
  				<div class="col-md-12">
				<div id="nutr-container">
					<div class="row">
						<div class="col-sm-2">
							<div>Default</div>	
							<input type="checkbox" name="nutrDefault" value="" />Prótein (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Fita (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Kolvetni (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Trefjaefni (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Sykrur  (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Viðbættur sykur (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Kólesteról (mg)<br />
							<input type="checkbox" name="nutrDefault" value="" />Vatn  (g)<br />
							<input type="checkbox" name="nutrDefault" value="" />Alkóhól (g)<br />
							<div>Steinefni</div>
							<input type="checkbox" name="nutrMineral" value="" />Magnesíum (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Joð (µg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Fosfór (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Járn (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Sink (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Kalk (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Kopar (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Natríum (mg)<br />
							<input type="checkbox" name="nutrMineral" value="" />Selen (µg)<br />		
						</div> 	
						<div class="col-sm-2">
							<div>Fitusýrur </div>
							<input type="checkbox" name="nutrFat" value="" />Mettaðar (g)<br />
							<input type="checkbox" name="nutrFat" value="" />Einómettaðar (g)<br />
							<input type="checkbox" name="nutrFat" value="" />Fjölómettaðar (g)<br />
							<input type="checkbox" name="nutrFat" value="" />Fjölómettaðar n-3 langar (g)<br />
							<input type="checkbox" name="nutrFat" value="" />Fjölómettaðar n-6 (g)<br />
							<input type="checkbox" name="nutrFat" value="" />Fjölómettaðar n-3  (g)<br />
							<input type="checkbox" name="nutrFat" value="" />trans-Fitusýrur (g)<br />
							<div>Vítamín</div>
							<input type="checkbox" name="nutrVitamin" value="" />B2-vítamín (mg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />B6-vítamín (mg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />B-12 vítamín (µg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />C-vítamín (mg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />D-vítamín (µg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />E-vítamín (mg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />Retinol (µg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />Beta-karótín (µg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />Níasín-jafngildi (mg)<br />
							<input type="checkbox" name="nutrVitamin" value="" />Fólat (µg)<br />
						</div>
		 				<div class="col-md-8">
							<div class="nutrition-label">
								<section class="performance-facts">
									<header class="performance-facts__header">
										<h1 class="performance-facts__title">Nutrition Facts</h1>
										<p>Serving Size 1/2 cup (about 82g)
										<p>Serving Per Container 8</p>
									</header>
									<table class="performance-facts__table">
										<thead>
											<tr>
												<th colspan="3" class="small-info">
													Amount Per Serving
												</th>
											</tr>
										</thead>
											<tbody>
												<tr>
													<th colspan="2">
														<b>Calories</b>
														200
													</th>
													<td>
														Calories from Fat
														130
													</td>
												</tr>
												<tr class="thick-row">
													<td colspan="3" class="small-info">
														<b>% Daily Value*</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Total Fat</b>
														14g
													</th>
													<td>
														<b>22%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Saturated Fat
														9g
													</th>
													<td>
														<b>22%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Trans Fat
														0g
													</th>
													<td>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Cholesterol</b>
														55mg
													</th>
													<td>
														<b>18%</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
														<b>Sodium</b>
														40mg
													</th>
													<td>
														<b>2%</b>
													</td>
												</tr>
												<tr>
													<th colspan="2">
													<b>Total Carbohydrate</b>
													17g
													</th>
													<td>
														<b>6%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Dietary Fiber
														1g
													</th>
													<td>
														<b>4%</b>
													</td>
												</tr>
												<tr>
													<td class="blank-cell">
													</td>
													<th>
														Sugars
														14g
													</th>
													<td>
													</td>
												</tr>
												<tr class="thick-end">
													<th colspan="2">
														<b>Protein</b>
														3g
													</th>
													<td>
													</td>
												</tr>
											</tbody>
										</table>
										<table class="performance-facts__table--grid">
											<tbody>
												<tr>
													<td colspan="2">
														Vitamin A
														10%
													</td>
													<td>
														Vitamin C
														0%
													</td>
												</tr>
												<tr class="thin-end">
													<td colspan="2">
														Calcium
														10%
													</td>
													<td>
														Iron
														6%
													</td>
												</tr>
											</tbody>
										</table>
										<p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>
										<table class="performance-facts__table--small small-info">
											<thead>
												<tr>
													<td colspan="2"></td>
													<th>Calories:</th>
													<th>2,000</th>
													<th>2,500</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th colspan="2">Total Fat</th>
													<td>Less than</td>
													<td>65g</td>
													<td>80g</td>
												</tr>
												<tr>
													<td class="blank-cell"></td>
													<th>Saturated Fat</th>
													<td>Less than</td>
													<td>20g</td>
													<td>25g</td>
												</tr>
												<tr>
													<th colspan="2">Cholesterol</th>
													<td>Less than</td>
													<td>300mg</td>
													<td>300 mg</td>
												</tr>
												<tr>
													<th colspan="2">Sodium</th>
													<td>Less than</td>
													<td>2,400mg</td>
													<td>2,400mg</td>
												</tr>
												<tr>
													<th colspan="3">Total Carbohydrate</th>
													<td>300g</td>
													<td>375g</td>
												</tr>
												<tr>
													<td class="blank-cell"></td>
													<th colspan="2">Dietary Fiber</th>
													<td>25g</td>
													<td>30g</td>
												</tr>
											</tbody>
										</table>
										<p class="small-info">	
										Calories per gram:
										</p>
										<p class="small-info text-center">
											Fat 9
											&bull;
											Carbohydrate 4
											&bull;
											Protein 4
										</p>
									</section>
								</div>
		 					</div>
						</div>
    				</div>
   				 </div>
			</div>
		</div>
	</div>
</div>






<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script> 