<div id="blogContainer" class="col-md-8 column"> 
	<div class="row">
			<div id="blogContainer-menu" class="menu">
				<div class="menu-blog-fluid well span6">
					
						<div style=""class="menu-blog-fluid-title">
					    	<h1>Here comes title</h1>
					    </div>
					    <div class="imgUser">
							<img src="http://placehold.it/40x35	" alt=""> {{ N A M E }}
						</div>
					    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
					    'Yes, we went to school in the sea, though you mayn't believe it—'
					    'I never said I didn't!' interrupted Alice.
					    'You did,' said the Mock Turtle.</p>
					
					<span class="badge">Posted date.now</span>
					<div class="pull-right">
						<span class="label label-default">{{alice}}</span> 
						<span class="label label-primary">{{story}}</span> 
						<span class="label label-success">{{blog}}</span> 
						<span class="label label-info">{{personal}}</span> 
						<span class="label label-warning">{{Warning}}</span>
						<span class="label label-danger">{{Danger}}</span>
					</div>         
				    <hr>
					<ul>
						<li>
	        				<div class="heart well span2">
		          				<span class="glyphicon glyphicon-heart"></span>
		          				<span class="glyphicon-class">{{heartCounter}}</span>
		          			</div>
		          		</li>
		          		<li>
		          			<div class="comment well span2">
								<span class="glyphicon glyphicon-comment"></span>
	         					<span class="glyphicon-class">Write a comment</span>
	         				

	         					<div class="comment-showComment">
	         						Here is some stuff shown...
								</div>
							</div>
	        			</li>

						
					</ul>
				</div>






				<div class="profileContainer-fluid well span6">
				
						<div style=""class="blogContainer-menu-art-title">
					    	<h1>Here comes title</h1>
					    </div>
					    <div class="imgUser">
							<img src="http://placehold.it/40x35" alt=""> {{ N A M E }}
						</div>
					    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
					    'Yes, we went to school in the sea, though you mayn't believe it—'
					    'I never said I didn't!' interrupted Alice.
					    'You did,' said the Mock Turtle.</p>
					
					<span class="badge">Posted date.now</span>
					<div class="pull-right">
						<span class="label label-default">{{alice}}</span> 
						<span class="label label-primary">{{story}}</span> 
						<span class="label label-success">{{blog}}</span> 
						<span class="label label-info">{{personal}}</span> 
						<span class="label label-warning">{{Warning}}</span>
						<span class="label label-danger">{{Danger}}</span>
					</div>         
				
				    <hr>
				</div>



				<div class="profileContainer-fluid well span6">
				
						<div style=""class="blogContainer-menu-art-title">
					    	<h1>Here comes title</h1>
					    </div>
					    <div class="imgUser">
							<img src="http://placehold.it/40x35	" alt=""> {{ N A M E }}
						</div>
					    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
					    'Yes, we went to school in the sea, though you mayn't believe it—'
					    'I never said I didn't!' interrupted Alice.
					    'You did,' said the Mock Turtle.</p>
					
					<span class="badge">Posted date.now</span>
					<div class="pull-right">
						<span class="label label-default">{{alice}}</span> 
						<span class="label label-primary">{{story}}</span> 
						<span class="label label-success">{{blog}}</span> 
						<span class="label label-info">{{personal}}</span> 
						<span class="label label-warning">{{Warning}}</span>
						<span class="label label-danger">{{Danger}}</span>
					</div>         
			
				    <hr>
				</div>




			</div>	
	</div>
</div>


