Enter today's weight: <input type="text" name="wKg">kg<br>
<table>
	<thead>
		<tr>
			<td>Measurements</td>
			<td>Last Entry</td>
			<td>Today's Entry</td>
		</tr>	
	</thead>
	<tfoot>
		<tr>
			<td colspan="3">
				<a href="#">Edit Previous Enteries</a>
			</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Neck:</td>
			<td>none</td>
			<td><input type="text" name="neck">cm</td>
		</tr>
		<tr>
			<td>Chest:</td>
			<td>none</td>
			<td><input type="text" name="chest">cm</td>
		</tr>
		<tr>
			<td>Left Bicep:</td>
			<td>none</td>
			<td><input type="text" name="lBicep">cm</td>
		</tr>
		<tr>
			<td>Right Bicep:</td>
			<td>none</td>
			<td><input type="text" name="rBicep">cm</td>
		</tr>
		<tr>
			<td>Left Forearm:</td>
			<td>none</td>
			<td><input type="text" name="lForearm">cm</td>
		</tr>
		<tr>
			<td>Right Forearm:</td>
			<td>none</td>
			<td><input type="text" name="rForearm">cm</td>
		</tr>	
		<tr>
			<td>Waist:</td>
			<td>none</td>
			<td><input type="text" name="waist">cm</td>
		</tr>
		<tr>
			<td>Hips:</td>
			<td>none</td>
			<td><input type="text" name="hips">cm</td>
		</tr>
		<tr>
			<td>Left Thigh:</td>
			<td>none</td>
			<td><input type="text" name="lThigh">cm</td>
		</tr>
		<tr>
			<td>Right Thigh:</td>
			<td>none</td>
			<td><input type="text" name="rThigh">cm</td>
		</tr>
		<tr>
			<td>Left Calf:</td>
			<td>none</td>
			<td><input type="text" name="lCalf">cm</td>
		</tr>
		<tr>
			<td>Right Calf:</td>
			<td>none</td>
			<td><input type="text" name="rCalf">cm</td>
		</tr>
	</tbody>
</table>






