<div id="Container" class="row-fluid">
	<div id="Container-Head" class="span12">
		<div id="Container-Head-logo"></div>
		<div id="Head-profile"></div>
	</div>
	<div id="Container-Left" class="span2">

	</div>
	<div id="Container-Center" class="span8">

	</div>
	<div id="Container-Right" class="span2">

	</div>
</div>

<div´id="Container" class="container">
	<div id="Container-Head" class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
	<div class="row clearfix">
		<div id="Container-Left" class="col-md-2 column">
		</div>
		<div id="Container-Center" class="col-md-6 column">
		</div>
		<div id="Container-Right" class="col-md-4 column">
		</div>
	</div>
</div>