<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a data-target="#basalMetabolicRate" data-toggle="tab">Basal Metabolic Rate</a></li>
        <li><a data-target="#activityMets" data-toggle="tab">Activity Mets</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane" id="basalMetabolicRate">
            <h1>Basal Metabolic Rate</h1>
            <form role="form">
			  	<div class="form-group">
			    	<label for="todaysweight">Weight:</label>
			    	<input type="number" id="todaysweight" min="0.0" step="0.1" max="1000"  name="wKg" placeholder=""> kg<br>
			    	<label for="todaysheight">Height:</label>
			    	<input type="number" id="todaysheight" min="0.0" step="0.1" max="1000"  name="hCm" placeholder=""> cm<br>
			    	<label for="todaysheight">Age:</label>
			    	<input type="number" id="age" min="0.0" step="0.1" max="1000"  name="age" placeholder=""><br>
			    	<select name="sex">
						<option value="man">Man</option>
						<option value="woman">Woman</option>
					</select>

				</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>

        </div>
        <div class="tab-pane" id="activityMets" width="20">
            <h1>Activity Mets</h1>
			<div class="row">
				<!-- Navigation Buttons -->
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked" id="myTabs">
						<li class="active"><a data-target="#bicycling">Bicycling</a></li> 
						<li><a data-target="#conditioning">Conditioning Exercise</a></li>
						<li><a data-target="#dancing">Dancing</a></li>
						<li><a data-target="#fishing">Fishing and Hunting</a></li>
						<li><a data-target="#homes">Home Activities</a></li>
						<li><a data-target="#homeRepair">Home Repair</a></li>
						<li><a data-target="#inactivity">Inactivity Quiet</a></li>
						<li><a data-target="#lawn">Lawn and Garden</a></li>
						<li><a data-target="#miscellaneous">Miscellaneous</a></li>
						<li><a data-target="#music">Music Playing</a></li>
						<li><a data-target="#occupation">Occupation</a></li>
						<li><a data-target="#sports">Sports</a></li>
						<li><a data-target="#transportation">Transportation</a></li>
						<li><a data-target="#water">Water Activities</a></li>
						<li><a data-target="#winter">Winter Activities</a></li>
						<li><a data-target="#religious">Religious Activities</a></li>
						<li><a data-target="#volunteer">Volunteer Activities</a></li>
					</ul>
				</div>
				<!-- Content -->
				<div class="col-md-9">
					<div class="tab-content">
						<div class="tab-pane active" id="bicycling">someshit here...Bicycling11111</div>
						<div class="tab-pane" id="conditioning">someshit here...Conditioning2222222</div>
						<div class="tab-pane" id="dancing">someshit here...Dancing333333</div>
						<div class="tab-pane" id="fishing">someshit here...Fishing4444444</div>
						<div class="tab-pane" id="homes">someshit here...555555</div>
						<div class="tab-pane" id="homeRepair">someshit here...6666666</div>
						<div class="tab-pane" id="inactivity">someshit here...7777777</div>
						<div class="tab-pane" id="lawn">someshit here...Lawn888888</div>
						<div class="tab-pane" id="miscellaneous">someshit here...Lawn999999</div>
						<div class="tab-pane" id="music">someshit here...10</div>
						<div class="tab-pane" id="occupation">someshit here...11</div>
						<div class="tab-pane" id="sports">someshit here...12</div>
						<div class="tab-pane" id="transportation">someshit here...13</div>
						<div class="tab-pane" id="water">someshit here...14</div>
						<div class="tab-pane" id="winter">someshit here...15</div>
						<div class="tab-pane" id="religious">someshit here...16</div>
						<div class="tab-pane" id="volunteer">someshit here...17</div>
					</div>
				</div>
			</div>	
        </div>
    </div>
</div>
<!-- Enable the tabs -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  
<script type="text/javascript">
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
</script>