<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#how" data-toggle="tab">How to</a></li>
        <li><a data-target="#conEx" data-toggle="tab">Conditioning exercise</a></li>
        <li><a data-target="#bicy" data-toggle="tab">Bicycling</a></li>
        <li><a data-target="#walk" data-toggle="tab">Walking</a></li>
        <li><a data-target="#sport" data-toggle="tab">Sports</a></li>
        <li><a data-target="#water" data-toggle="tab">Water activities</a></li>
        <li><a data-target="#winter" data-toggle="tab">Winter activities</a></li>
        <li><a data-target="#dans" data-toggle="tab">Dancing</a></li>

    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="how">
            <h1>Here you can read something about what you can do..... </h1>           
        </div>
        <div class="tab-pane" id="conEx">
        	<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>
  						<p>Bicycling, stationary, general</p>
						<p>Bicycling, stationary, very light effort</p>
						<p>Bicycling, stationary, light effort</p>
						<p>Bicycling, stationary, moderate effort</p>
						<p>Bicycling, stationary, vigorous effort</p>
						<p>Bicycling, stationary, very vigorous effort</p>
						<p>Calisthenics (e.g. pushups,  pullups...), vigorous effort</p>
						<p>Calisthenics, home exercise, light or moderate effort (e.g. back exercises) </p>
						<p>Circuit training, including some aerobic movement with minimal rest, general</p>
						<p>Weight lifting  power lifting or body building, vigorous effort </p>
						<p>Health club exercise, general</p>
						<p>Stair-treadmill ergometer, general</p>
						<p>Rowing, stationary ergometer, genera</p>
						<p>Rowing, stationary, light effort</p>
						<p>Rowing, stationary, moderate effort</p>
						<p>Rowing, stationary, vigorous effort</p>
						<p>Rowing, stationary, very vigorous effort</p>
						<p>Ski machine, general</p>
						<p>Slimnastics, jazzercise</p>
						<p>Stretching, hatha yoga</p>
						<p>Mild stretching</p>
						<p>Teaching aerobic exercise class</p>
						<p>Water aerobics, water calisthenics</p>
						<p>Weight lifting, light or moderate effort, light workout, genera</p>
						<p>Whirlpool, sitting</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
  					</div>
  					<div id="metRight">
  						<h4>Total</h4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>	
      	</div>
      	<div class="tab-pane" id="bicy">
      		<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<p>Bicycling, BMX or mountain</p>
  						<p>Bicycling, < 16k m/h, for pleasure</p>
  						<p>Bicycling, general</p>
  						<p>Bicycling, 16-19 km/h, slow, light effort</p>
  						<p>Bicycling, 19-22.5 km/h, moderate effort</p>
  						<p>Bicycling, 22.5-26 km/h, vigorous effort</p>
  						<p>Bicycling, 26-30.5 km/h, very fast, racing genera</p>
  						<p>Bicycling, >30.5 km/h, racing, not drafting</p>
  						<p>Unicycling</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>middle</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
  					</div>
  					<div id="metRight">
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>	
      	</div>
      	<div class="tab-pane" id="walk">
      		<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>
  						<p>Backpacking </p>
						<p>Carrying infant or 7 kg load (e.g. suitcase), level ground or downstairs</p>
						<p>Carrying load upstairs, general</p>
						<p>Carrying 0.5 to 7 kg load, upstairs</p>
						<p>Carrying 7 to 11 kg load, upstairs</p>
						<p>Carrying 11 to 23 kg load, upstairs</p>
						<p>Carrying 23 to 34 kg load, upstairs</p>
						<p>Carrying 34+ kg load, upstairs</p>
						<p>Loading /unloading a car</p>
						<p>Climbing hills with 0 to 4.5 kg load</p>
						<p>Climbing hills with 4.5 to 10 kg load</p>
						<p>Climbing hills with 10 to 20 kg load</p>
						<p>Climbing hills with 20+ kg load</p>
						<p>Downstairs</p>
						<p>Hiking, cross country </p>
						<p>Bird watching</p>
						<p>Marching, rapidly, military</p>
						<p>Pushing or pulling stroller with child or walking with children</p>
						<p>Pushing a wheelchair, non-occupational setting</p>
						<p>Race walking</p>
						<p>Rock or mountain climbing </p>
						<p>Up stairs, using or climbing up ladder</p>
						<p>Using crutches</p>
						<p>Walking, household walking</p>
						<p>Walking, less than 3 km/h, level ground, strolling, very slow</p>
						<p>Walking, 3 km/h, level, slow pace, firm surface</p>
						<p>Walking for pleasure</p>
						<p>Walking from house to car or bus, from car or bus to go places, from car or bus to and from the worksite</p>
						<p>Walking to neighbor’s house or family’s house for social reasons</p>
						<p>Walking the dog</p>
						<p>Walking, 4 km/h, firm surface</p>
						<p>Walking, 4 km/h, downhill</p>
						<p>Walking, 5 km/h, level, moderate pace, firm surface</p>
						<p>Walking, 5 km/h, level, brisk, firm surface, walking for exercise</p>
						<p>Walking, 5 km/h, uphill</p>
						<p>Walking, 6 km/h, level, firm surface, very brisk pace</p>
						<p>Walking, 7 km/h, level, firm surface, very, very brisk</p>
						<p>Walking, 8 km/h</p>
						<p>Walking, for pleasure, work break</p>
						<p>Walking, grass track</p>
						<p>Walking, to work or class </p>
						<p>Walking to and from an outhouse</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
  					</div>
  					<div id="metRight">
  						<h4>Total</h4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>	
      	</div>
      	<div class="tab-pane" id="sport">
      		<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>
  						<p>Boxing, punching bag</p>
						<p>Boxing, sparring</p>
						<p>Broomball</p>
						<p>Children’s games ( dodge ball, playground apparatus...)</p>
						<p>Coaching: football, soccer, basketball, baseball, swimming, etc.</p>
						<p>Cricket (batting, bowling)</p>
						<p>Croquet</p>
						<p>Curling</p>
						<p>Darts, wall or lawn</p>
						<p>Drag racing, pushing or driving a car</p>
						<p>Fencing</p>
						<p>Football, competitive</p>
						<p>Football, touch, flag, general </p>
						<p>Football or baseball, playing catch</p>
						<p>Frisbee playing, general</p>
						<p>Frisbee, ultimate</p>
						<p>Golf, general</p>
						<p>Golf, walking and carrying clubs </p>
						<p>Golf, miniature, driving range</p>
						<p>Golf, walking and pulling clubs </p>
						<p>Golf, using power cart </p>
						<p>Gymnastics, general</p>
						<p>Hacky sack</p>
						<p>Handball, general </p>
						<p>Handball, team</p>
						<p>Hand gliding</p>
						<p>Hockey, field</p>
						<p>Hockey, ice</p>
						<p>Horseback riding, general</p>
						<p>Horseback riding, saddling horse, grooming horse</p>
						<p>Horseback riding, trotting</p>
						<p>Horseback riding, walking</p>
						<p>Horseshoe pitching, quoits</p>
						<p>Jai alai</p>
						<p>Judo, jujitsu, karate, kick boxing, tae kwan do</p>
						<p>Juggling</p>
						<p>Kickball</p>
						<p>Lacrosse</p>
						<p>Motor-cross</p>
						<p>Orienteering</p>
						<p>Paddleball, competitive</p>
						<p>Paddleball, casual, general </p>
						<p>Polo</p>
						<p>Racquetball, competitive</p>
						<p>Racquetball, casual, general </p>
						<p>Rock climbing, ascending rock</p>
						<p>Rock climbing, rappelling</p>
						<p>Rope jumping, fast</p>
						<p>Rope jumping, moderate, general</p>
						<p>Rope jumping, slow</p>
						<p>Rugby</p>
						<p>Shuffleboard, lawn bowling</p>
						<p>Skateboarding</p>
						<p>Skating, roller </p>
						<p>Roller blading (in-line skating)</p>
						<p>Sky diving</p>
						<p>Soccer, competitive</p>
						<p>Soccer, casual, general </p>
						<p>Softball or baseball, fast or slow pitch, general</p>
						<p>Softball, officiating</p>
						<p>Softball, pitching</p>
						<p>Squash </p>
						<p>Table tennis, ping pong </p>
						<p>Tai chi</p>
						<p>Tennis, general</p>
						<p>Tennis, doubles </p>
						<p>Tennis, doubles</p>
						<p>Tennis, singles </p>
						<p>Trampoline</p>
						<p>Volleyball </p>
						<p>Volleyball, competitive, in gymnasium</p>
						<p>Volleyball, non-competitive, 6 - 9 member team, general</p>
						<p>Volleyball, beach</p>
						<p>Wrestling (one match = 5 minutes)</p>
						<p>Wallyball, general</p>
						<p>Track and field (shot, discus, hammer throw)</p>
						<p>Track and field (high jump, long jump, triple jump, javelin, pole vault)</p>
						<p>Track and field (steeplechase, hurdles)</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>		
  					</div>
  					<div id="metRight">
  						<h4>Total</h4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>	
  					</div>
				</div>
			</div>
      		
      	</div>
      	<div class="tab-pane" id="water">
      		<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>
  						<p>Boating, power</p>
						<p>Canoeing, on camping trip </p>
						<p>Canoeing, harvesting wild rice, knocking rice off the stalks</p>
						<p>Canoeing, portaging</p>
						<p>Canoeing, rowing, 3-7 km/h, light effort</p>
						<p>Canoeing, rowing, 7-10 km/h, moderate effort</p>
						<p>Canoeing, rowing, >10 km/h, vigorous effort</p>
						<p>Canoeing, rowing, for pleasure, general </p>
						<p>Canoeing, rowing, in competition, or crew or sculling</p>
						<p>Diving, springboard or platform</p>
						<p>Kayaking</p>
						<p>Paddle boat</p>
						<p>Sailing, boat and board sailing, windsurfing, ice sailing, general </p>
						<p>Sailing, in competition</p>
						<p>Sailing, Sunfish/Laser/Hobby Cat, Keel boats, ocean sailing, yachting</p>
						<p>Skiing, water </p>
						<p>Skimobiling</p>
						<p>Kindiving, fast</p>
						<p>Skindiving, moderate</p>
						<p>Skindiving, scuba diving, general </p>
						<p>Snorkeling </p>
						<p>Surfing, body or board</p>
						<p>Swimming laps, freestyle, fast, vigorous effort</p>
						<p>Swimming laps, freestyle, slow, moderate or light effort</p>
						<p>Swimming, backstroke, general</p>
						<p>Swimming, breaststroke, general</p>
						<p>Swimming, butterfly, general</p>
						<p>Swimming, crawl, fast (70 meters/minute), vigorous effort</p>
						<p>Swimming, crawl, slow (45 meters/minute), moderate or light effort</p>
						<p>Swimming, lake, ocean, river </p>
						<p>Swimming, leisurely, not lap swimming, general</p>
						<p>Swimming, sidestroke, general</p>
						<p>Swimming, synchronized</p>
						<p>Swimming, treading water, fast vigorous effort</p>
						<p>Swimming, treading water, moderate effort, general</p>
						<p>Water aerobics, water calisthenics</p>
						<p>Water polo</p>
						<p>Water volleyball</p>
						<p>Water jogging</p>
						<p>Whitewater rafting, kayaking, or canoeing</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>		
  					</div>
  					<div id="metRight">
  						<H4>Total</H4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>
      		
      	</div>
      	<div class="tab-pane" id="winter">
			<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>      		
  						<p>Moving ice house (set up/drill holes, etc.)</p>
  						<p>Skating, ice, 15 km/h or less</p>
  						<p>Skating, ice, general</p>
  						<p>Skating, ice, rapidly, more than 15 km/h</p>
  						<p>Skating, speed, competitive</p>
  						<p>Ski jumping (climb up carrying skis)</p>
  						<p>Skiing, general</p>
  						<p>Skiing, cross country, 4 km/h, slow or light effort, ski walking</p>
  						<p>Skiing, cross country, 6-8 km/h, moderate speed and effort, genera</p>
  						<p>Skiing, cross country, 8-13 km/h, brisk speed, vigorous effort</p>
  						<p>Skiing, cross country, >13 km/h, racing</p>
  						<p>Skiing, cross country, hard snow, uphill, maximum, snow mountaineering</p>
  						<p>Skiing, downhill, light effort</p>
  						<p>Skiing, downhill, moderate effort, general</p>
  						<p>Skiing, downhill, vigorous effort, racing</p>
  						<p>Sledding, tobogganing, bobsledding, luge</p>
  						<p>Snow shoeing</p>
  						<p>Snowmobiling</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>		
  					</div>

  					<div id="metRight">
  						<h4>Total</h4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>

      	</div>
      	<div class="tab-pane" id="dans">
      		<div id="metContainer">
  				<div id="metRow">
  					<div id="metLeft">
  						<h4>Activity</h4>
  						<p>Ballet or modern, twist, jazz, tap, jitterbug</p>
  						<p>Aerobic, general</p>
  						<p>Aerobic, step, with 15–20 cm step</p>
  						<p>Aerobic, step, with 25-30 cm step</p>
  						<p>Aerobic, low impact</p>
  						<p>Aerobic, high impact</p>
  						<p>General, Greek, Middle Eastern, hula, flamenco, belly, and swing dancing</p>
  						<p>Ballroom, dancing fast </p>
  						<p>Ballroom, fast (disco, folk, square), line dancing, Irish step dancing, polka, contra, country</p>
  						<p>Ballroom, slow (e.g. waltz, foxtrot, slow dancing),samba, tango, 19th C, mambo, chacha</p>
  						<p>Anishinaabe Jingle Dancing or other traditional American Indian dancing</p>
  					</div>
  					<div id="metMiddle">
			  			<h4>Minutes</h4>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>
			  			<p><input type="number" min="0" step="1" max="1000" \></p>	
  					</div>

  					<div id="metRight">
  						<h4>Total</h4>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
    					<p></p>
  					</div>
				</div>
			</div>	
      	</div>	
    </div>
</div>