<form>
<div class="row">
<div class="col-xs-6">.col-xs-6</div>  
<div class="col-xs-6">.col-xs-6</div>
<div class="col-xs-6">.col-xs-6</div>  
<div class="col-xs-6">.col-xs-6</div>
</div><div class="row">

	<input type="checkbox" name="nutrDefault" value="">Prótein (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Fita (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Kolvetni (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Trefjaefni (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Sykrur  (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Viðbættur sykur (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Kólesteról (mg)<br>
	<input type="checkbox" name="nutrDefault" value="">Vatn  (g)<br>
	<input type="checkbox" name="nutrDefault" value="">Alkóhól (g)<br>
	<input type="checkbox" name="nutrFat" value="">Mettaðar fitusýrur (g)<br>
	<input type="checkbox" name="nutrFat" value="">cis-Einómettaðar fitusýrur (g)<br>
	<input type="checkbox" name="nutrFat" value="">cis-Fjölómettaðar fitusýrur (g)<br>
	<input type="checkbox" name="nutrFat" value="">cis-Fjölómettaðar fitus. n-3 langar  (g)<br>
	<input type="checkbox" name="nutrFat" value="">cis-Fjölómettaðar fitus. n-6 (g)<br>
	<input type="checkbox" name="nutrFat" value="">cis-Fjölómettaðar fitus. n-3  (g)<br>
	<input type="checkbox" name="nutrFat" value="">trans-Fitusýrur (g)<br>
	<input type="checkbox" name="nutrMineral" value="">Magnesíum (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Joð (µg)<br>
	<input type="checkbox" name="nutrMineral" value="">Fosfór (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Járn (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Sink (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Kalk (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Kopar (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Natríum (mg)<br>
	<input type="checkbox" name="nutrMineral" value="">Selen (µg)<br>
	<input type="checkbox" name="nutrVitamin" value="">B2-vítamín (mg)<br>
	<input type="checkbox" name="nutrVitamin" value="">B6-vítamín (mg)<br>
	<input type="checkbox" name="nutrVitamin" value="">B-12 vítamín (µg)<br>
	<input type="checkbox" name="nutrVitamin" value="">C-vítamín (mg)<br>
	<input type="checkbox" name="nutrVitamin" value="">D-vítamín (µg)<br>
	<input type="checkbox" name="nutrVitamin" value="">E-vítamín (mg)<br>
	<input type="checkbox" name="nutrVitamin" value="">Retinol (µg)<br>
	<input type="checkbox" name="nutrVitamin" value="">Beta-karótín (µg)<br>
	<input type="checkbox" name="nutrVitamin" value="">Níasín-jafngildi (mg)<br>
	<input type="checkbox" name="nutrVitamin" value="">Fólat (µg)<br>
</form>