				
				<script>$("#popover1").popover('hide')</script>
				<script>$("#popover2").popover('hide')</script>


<div id="profileContainer" class="profileContainer">
	<div id="ProfileContrainer-Left" class="col-md-2 column">
		<div class="profileContainer-left"> <br>

			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-left-userPhoto" >
					<div class="row-fluid">
						<img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
					</div>
				</div>
				<div   class="profileContainer-left-userPhoto-btn">
					<button id="popover1" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  						Popover on right
					</button>
				</div>
			</div>

			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-left-userInfo" >
					<div class="row-fluid">
						<p>i am {{user.user}}</p>
						<p>i am {{user.firstName}} {{user.lastName}}</p>
						<p>i am {{user.email}}</p>
						<p>i am {{user.height}}</p>
						<p>i am {{user.weight}}</p>
					</div>
				</div>
				<div class="profileContainer-left-userPhoto-btn">
					<button id="popover2" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  						Popover on right
					</button>

				</div>
			</div>
		</div>
	</div>

	<div id="ProfileContainer-Timeline" class="col-md-8 column">

		<div class="profileContainer-timeline">
			<br><br>
			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-timeline-feed">
					<div ng-repeat="blog in blogs" class="col-md-12">
					    <h1>{{timeline.title}}</h1>
					    <h1>{{timeline.author}}</h1>
					    <p>{{timeline.text}}</p>
					</div>
					<span class="badge">Posted {{timeline.date}}</span>
					<div class="pull-right">
						<div ng-repeat="tag in tags">
							<span class="label label-default">{{timeline.tag}}</span>        
					     </div>
					 </div>
				    <hr>
				    


				</div>
			</div>
			


			<div class="profileContainer-fluid well span6">
				<div class="profileContainer-timeline-feed">
					<div class="col-md-12">
					    <h1>Here comes title</h1>
					    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
					    'Yes, we went to school in the sea, though you mayn't believe it—'
					    'I never said I didn't!' interrupted Alice.
					    'You did,' said the Mock Turtle.</p>
					</div>
					<span class="badge">Posted 2012-08-02 20:47:04</span>
					<div class="pull-right">
						<span class="label label-default">alice</span> 
						<span class="label label-primary">story</span> 
						<span class="label label-success">blog</span> 
						<span class="label label-info">personal</span> 
						<span class="label label-warning">Warning</span>
						<span class="label label-danger">Danger</span>
					</div>         
				</div>
				    <hr>
				    


				</div>
			</div>
		</div>
</div>

