Weight <input type="text" name="wKg"> kg <br>
Height <input type="text" name="hCm"> cm <br>
Gender <input type="radio" name="sex" value="male"> Male <input type="radio" name="sex" value="female">Female<br>
<input type="radio" name="tensity" value="tensity1">Little to no exercise<br>
<input type="radio" name="tensity" value="tensity2">Light exercise (1 to 3 days per week)<br>
<input type="radio" name="tensity" value="tensity3">Moderate exercise (3 to 5 days per week)<br>
<input type="radio" name="tensity" value="tensity4">Heavy exercise (6 to 7 days per week)<br>
<input type="radio" name="tensity" value="tensity5">Very heavy exercise (twice per day, extra heavy workouts)<br>
<label for="day">Date of Birth:</label>
<div id="date1" class="datefield">
    <input id="day" type="tel" maxlength="2" placeholder="Day"/>/              
    <input id="month" type="tel" maxlength="2" placeholder="Month"/>/
    <input id="year" type="tel" maxlength="4" placeholder="Year"/>
</div><br>
Current Username: "nafnið"<br>
New Username:<input type="username" name="username"><br>
Current Password:<input type="password" name="password"><br>
New Password:<input type="password" name="password"><br>
Confirm Password:<input type="password" name="password"><br>
