<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
         <li><a data-target="#nutrition" data-toggle="tab">Nutrition</a></li>
        <li><a data-target="#measurements" data-toggle="tab">Measurements</a></li>
        <li><a data-target="#metabolicRate" data-toggle="tab">Metabolic Rate</a></li>

    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="home">
            <h1>Here you can read something about what you can do..... </h1>
        </div>
        <div class="tab-pane" id="nutrition">
            <h1>Nutritions!!!</h1>
        </div>
        <div class="tab-pane" id="measurements">
            <h1>Measurements</h1>
        </div>
        <div class="tab-pane" id="metabolicRate">
            <h1>Metabolic Rate</h1>
            <p>Metabolic Rate Metabolic Rate Metabolic Rate</p>
        </div>
    </div>
</div>
<!-- Enable the tabs -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  


<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.logAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.barRenderer.min.js"></script>
