<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
         <li><a data-target="#nutrition" data-toggle="tab">Nutrition</a></li>
        <li><a data-target="#measurements" data-toggle="tab">Measurements</a></li>
        <li><a data-target="#metabolicRate" data-toggle="tab">Metabolic Rate</a></li>

    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="home">
            bahhh
        </div>
        <div class="tab-pane" id="nutrition">
                <div class="tab-pane" id="activityMets" width="20">
            <div class="row">
                <!-- Navigation Buttons -->
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked" id="myTabs">
                        <li class="active"><a data-target="#defaultz">Default</a></li> 
                        <li><a data-target="#miniral">Miniral</a></li>
                        <li><a data-target="#vitamin">Vitamin</a></li>
                        <li><a data-target="#fatAcid">Fat Acid</a></li>
                        <li><a data-target="#myLabel">My Nutrition Label</a></li>
                        <li><a data-target="#custom">Custom</a></li>
                    </ul>
                </div>
                <!-- Content -->
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="defaultz">
                            <div class="col-md-8">
                                <div id="chartdiv" style="height:400px;width:300px; "></div>
                            </div>
                            <div class="col-md-8">
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Prótein (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Fita (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Kolvetni (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox4" value="option1"> Trefjaefni (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox5" value="option2"> Sykrur (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox6" value="option3"> Viðbættur sykur (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox7" value="option1"> Kólesteról (mg)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox8" value="option2"> Vatn  (g)</label>
                                <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheck" value="option3"> Alkóhól (g) </label>
                            </div>  
                        </div>
                        <div class="tab-pane" id="miniral">
                            <div class="col-md-8">asdf</div>
                            <div class="col-md-8">
                            Magnesíum (mg)
                            Joð (µg)     
                            Fosfór (mg)              
                            Járn (mg)
                            Sink (mg)     
                            Kalk (mg)
                            Kopar (mg)
                            Natríum (mg)
                            Selen (µg) 
                            </div>
                        </div>
                        <div class="tab-pane" id="vitamin">
                            <div class="col-md-8">asdf</div>
                            <div class="col-md-8"> 
                            B2-vítamín (mg)
                            B6-vítamín (mg)         
                            B-12 vítamín (µg)
                            C-vítamín (mg)
                            D-vítamín (µg)
                            E-vítamín (mg)         
                            Retinol (µg)                
                            Beta-karótín (µg)
                            Níasín-jafngildi (mg)
                            Fólat (µg)
                            </div>
                        </div>
                        <div class="tab-pane" id="fatAcid">
                            <div class="col-md-8">asdf</div>
                            <div class="col-md-8">
                            Fitusýrur 
                            Mettaðar (g)
                            Einómettaðar (g)
                            Fjölómettaðar (g)
                            Fjölómettaðar n-3 langar (g)
                            Fjölómettaðar n-6 (g)
                            Fjölómettaðar n-3 (g)
                            trans-Fitusýrur (g)
                            </div>
                        </div>
                        <div class="tab-pane" id="myLabel">
                            <div class="col-md-8">asdf</div>
                            <div class="col-md-8"></div>

                        </div>
                        <div class="tab-pane" id="custom">
                            <div class="col-md-8">asdf</div>
                            <div class="col-md-8">
                            Prótein (g)
                            Fita (g)
                            Kolvetni (g)
                            Trefjaefni (g)
                            Sykrur (g)
                            Viðbættur sykur (g)
                            Kólesteról (mg)
                            Vatn  (g)
                            Alkóhól (g) 
                            Magnesíum (mg)
                            Joð (µg)     
                            Fosfór (mg)              
                            Járn (mg)
                            Sink (mg)     
                            Kalk (mg)
                            Kopar (mg)
                            Natríum (mg)
                            Selen (µg) 
                            Vítamín    
                            B2-vítamín (mg)
                            B6-vítamín (mg)         
                            B-12 vítamín (µg)
                            C-vítamín (mg)
                            D-vítamín (µg)
                            E-vítamín (mg)         
                            Retinol (µg)                
                            Beta-karótín (µg)
                            Níasín-jafngildi (mg)
                            Fólat (µg)
                            Fitusýrur 
                            Mettaðar (g)
                            Einómettaðar (g)
                            Fjölómettaðar (g)
                            Fjölómettaðar n-3 langar (g)
                            Fjölómettaðar n-6 (g)
                            Fjölómettaðar n-3 (g)
                            trans-Fitusýrur (g)
                            </div>
                        </div>
                    </div>
                </div>

            </div>  
        </div>
        </div>
        <div class="tab-pane" id="measurements">
            <h1>Measurements</h1>
        </div>
        <div class="tab-pane" id="metabolicRate">
            <h1>Metabolic Rate</h1>
            <p>Metabolic Rate Metabolic Rate Metabolic Rate</p>
        </div>
    </div>
</div>
<!-- Enable the tabs -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  


<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.logAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="bower_components/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript">
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
</script>

