<div class="trainerContainer" ng-controller="trainersController">
	<div class="row clearfix main">
		<div id="main-container" class="col-md-12 column">



<div class="row clearfix browse">
				<div class="browse-container col-md-12 column">
					<div ng-repeat="trainer in trainers | filter:selected" ng-click="showTrainer(TrainerID._id)" class="block-container move-animation">
						<div class="browse-block">
							
							<img class="imgHeader" src="css/img/fresh_food.jpg">
							<div class="title-container">
								<h2 class="title">{{trainer.local.name}}</h2>
								<span class="subTitle">{{trainer.local.email}}</span>
							</div>
							<div class="info-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet </div>
							<div class="info">
								<div class="info-row">
									<div class="info-container">
										<span class="head">Protein:<span class="value">Here can be some stuff</span></span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div></div></div></div>









