<div id="TrainerContainer" ng-controller="trainersController">
	<div class="trainerContainer">
	<div  class="trainerContainer-main col-md-12 column">
		
		<div ng-repeat="trainer in trainers" class="block-container move-animation">
			<div class="browse-block">
				<!-- LITUR
				<div class="tag" ng-class="getType(foodItem['Fæðuflokkur'])"></div>-->
				<img class="imgHeader" src="css/img/personal.jpg">
				<div class="title-container">
					<h2 class="title" ng-bind='getName(trainer.firstName)'></h2>
					<span class="subTitle" ng-bind='getSubName(trainer.email)'></span>
				</div>
				<div class="info-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet </div>
			<!--<div class="info">
					<div class="info-row">
						<div class="info-container">
							<span class="head">Protein:<span class="value" ng-bind="checkName(foodItem['Prótein'])"></span></span>
						</div>
					</div>

				</div>-->
			</div>
	
			</div>

	</div>
</div>
</div>