<div class="tab-pane active" id="inbox">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th class="span1"><input type="checkbox">

					
					<th class="span2"></th>
					<th class="span2"></th>
					<th class="span9"></th>
					<th class="span2"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				
					<td>
						<input type="checkbox"> 
						<a href="#">
							<i class="icon-star-empty"></i>
						</a>
					</td>
					<td>
						<strong>{{email.name}}</strong>
					</td>
					<td>
						<span class="label pull-right">Notifications</span>
					</td>
					<td>
						<td>{{email.body}}
						</td>
					</td>
					<td>
						<strong>{{email.time}}</strong>
					</td>

				</tr>
			</tbody>
		</table>
	</div>

		<h3>Hér koma öll emailin, skoðið dæmi í flipum uppi</h3>

	