<div class="row">
	<div class="col-md-10">
		<form>
			<div class="row">
				<div class="col-md-8"> 
					<label for="whoSee">Who should be able to see this recipe?</label>
					<div class="form-group" id="whoSee">
						<span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Everyone</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
		                <span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Only me</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="recipeName">Recipe Name</label>
						<input type="text" class="form-control" id="recipeName" placeholder="Recipe Name" />
					</div>
				</div>
			</div>
			<label for="photoIngredients">Photo & Ingredients</label>
			<div class="row" id="photoIngredients">	
				<div class="col-md-2" >
					<div class="form-group">
						<img src="http://www.iconsdb.com/icons/preview/moth-green/berry-xxl.png" alt="food" class="img-thumbnail" width="100%"  />
						<input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<div class="row">
							<div class="col-md-8">
								<table class="table table-striped">	
 									<tr>
 										<th>Ingredient</th>
 										<th>Quantity</th>
 										<th>Measurement</th>
 										<th></th>	
 									</tr>
 									<tr>
 										<td>test1</td>
 										<td>123</td>
 										<td>gr</td>
 										<td>
 											<button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
 											<button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
 										</td>
 									</tr>
 									<tr>
 										<td>test2</td>
 										<td>1</td>
 										<td>bolli</td>
 										<td>
 											<button type="button" class="btn btn-primary btn-xs"><div class="glyphicon glyphicon-edit"></div></button>
 											<button type="button" class="btn btn-primary btn-xs"><div class="glyphicon glyphicon-trash"></div></button>
 										</td>
 									</tr>
 									<tr>
 										<td>
 											<input type="text" placeholder="Search for add in table...">
 										</td>
 										<td><input type="number" min="0.0" step="0.01" max="1000" placeholder="0"></td>
 										<td>
 											<select>
 												<option>tsk</option>
 												<option>g</option>
 												<option>kg</option>
 												<option>bolli</option>
 												<option>stk</option>
 											</select>
										</td>	
 										<td>
 											<button type="button" class="btn btn-primary btn-xs">
 												<span class="glyphicon glyphicon-plus"></span>
 											</button>
 										</td>
 									</tr>
								</table>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<label for="direction">Directions</label>
			<div class="row" id="direction">
				<div class="form-group">
					<div class="col-md-6">
						<textarea class="form-control" rows="3" placeholder="Please add new steps for each part of the recipe, by using the button below."></textarea>
						<p>
						<button type="button" class="btn btn-primary btn-xs">Add new step</button>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-4">
								<label for="prepTime">Prep Time</label>
							    <input type="text" class="form-control" id="prepTime" placeholder="Example: 10 minutes">
							</div>
							<div class="col-md-4">
								<label for="cookTime">Cook Time</label>
							    <input type="text" class="form-control" id="cookTime" placeholder="Example: 15 minutes.">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">	
								<label for="readyIn">Ready In (optional)</label>
						    	<input type="text" class="form-control" id="readyIn" placeholder="Example: 15 minutes.">
							</div>
							<div class="col-md-4">
								<label for="numbServ">Number of Servings</label>
								<input type="text" class="form-control" id="numbServ" placeholder="Example: 4">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="recipeYield">Recipe Yield (optional)</label>
						    	<input type="text" class="form-control" id="recipeYield" placeholder="Example: One loaf">
							</div>
							<div class="col-md-4">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-8">
					</div>
				</div>
			</div>		
			<div class="row">	
				<div class="form-group" >
					<div class="col-md-6">
						<label for="notes">Notes (optional)</label>
						<textarea class="form-control" id="notes" rows="3" placeholder="Example: to thiken sauce, use cream."></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-8">
					</div>
				</div>
			</div>	
			<label for="categorize">Categorize Your Recipe (optional)</label>	
			<div class="row" id="categorize">
				<div clas="form-group">
					<div class="col-md-2">
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
					</div>
					<div class="col-md-2">
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
					</div>
					<div class="col-md-2">
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
						<span class="button-checkbox" checker>
						    <button type="button" class="btn" data-color="primary">some categories</button>
						    <input type="checkbox" class="hidden" />
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-8">
					</div>
				</div>
			</div>	
			<div class="row">	
				<div class="form-group" >
					<div class="col-md-6">
						<label for="quickNotes">Quick Description</label>
						<textarea class="form-control" id="quickNotes" rows="3" placeholder="Example: Here's a perky variation on pork chops and mushroom gravy. Coat the chops with a mixture of bread crumbs and Parmesan cheese before browning."></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-8">
					</div>
				</div>
			</div>
			<div class="row">
				<div clas="form-group">
					<div class="col-md-3"></div>
					<div class="col-md-3">	
 						<button type="button" class="btn btn-default">Preview</button>
						<button type="button" class="btn btn-default">Cancel</button>
						<button type="button" class="btn btn-default">Post</button>	
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

