<div id="addContainer-main"  ng-controller="addCtrl">
	<div class="row">
		<div class="col-md-8" id="addContainer-left">
			<div class="wrapper">
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="recipeName">Recipe Name</label>
							<div id="recipeName"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-rName">	
						<input type="text" class="form-control" id="" placeholder="Recipe Name" ng-model="recipe.title"/>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="addPP">Photo & Personalized tags</label>
							<div id="addPP"></div>
						</div>
					</div>
				</div>
				<div class="col-md-8" id="addContainer-photo-pTag">
					<div class="row">
						<div class="col-md-3">
							<div id="addContainer-photo">
								<img src="http://www.iconsdb.com/icons/preview/moth-green/berry-xxl.png" id="photo" alt="food"  width="100%"  />
								<p></p>
								<input type="file" id="addPoto" name="filename" accept="image/gif, image/jpeg, image/png">
							</div>
						</div>
						<div class="col-md-8">
							<div id="addContainer-pTag">
								<div class="row">
									<div class="col-md-6">
										<div class="pTag">
											<input type="text" class="form-control" placeholder="Custom #tags">
										</div>
										<div class="pTag">
											<label for="addTag"></label>
											<input type="text" class="form-control" placeholder="Example: #Smoothie">
										</div>
										<div class="pTag">
											<label for="addTag"></label>
											<input type="text" class="form-control" placeholder="Example: #Smoothie">
										</div>
									</div>
									<div class="col-md-6">
										<div class="pTag">

											<input type="text" class="form-control" placeholder="Example: #Lowcarb">
										</div>
										<div class="pTag">
											<label for="addTag"></label>
											<input type="text" class="form-control" placeholder="Example: #Smoothie">
										</div>
										<div class="pTag">
											<label for="addTag"></label>
											<input type="text" class="form-control" placeholder="Example: #Lowcarb">
										</div>
									</div>
								</div>			
							</div>
						</div>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="cat-label">Categorize Your Recipe</label>	
						<div id="cat-label"></div>
						</div>
					</div>
				</div>
				<div Class="row">
					<div class="col-md-8" id="addContainer-cat">
						<div id="cat-box">	
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Appetizers</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">BBQ & Grill</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Beef</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Beverages</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Bread</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						  		<button type="button" class="btn btn-our" data-color="primary">Breakfast</button>
						 	   <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Brunch</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Cakes</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Chicken</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Cookies</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						  		<button type="button" class="btn btn-our" data-color="primary">Desserts</button>
						 	   <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Healthy</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Holidays</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Italian</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Main Dish</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Mexican</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Pasta</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Pork</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
							    <button type="button" class="btn btn-our" data-color="primary">Salad</button>
							    <input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Seafood</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Seasonal</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Side-dish</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Soups</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Stews</button>
					    		<input type="checkbox" class="hidden" />
							</div>
							<div class="button-checkbox" checker>
						    	<button type="button" class="btn btn-our" data-color="primary">Vegetarian</button>
					    		<input type="checkbox" class="hidden" />
							</div>
						</div>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="inginfo">Content of Recipe</label>
							<div id="inginfo"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-ingredient">
						<table class="table table-hover ingredient">	
							<tr>
								<td class="table-1"><label for="inglabel">Ingredient</label><div id="inglabel"></div></td>
								<td class="table-2"><label for="qualabel">Quantity</label><div id="qualabel"></div></td>
								<td class="table-3"><label for="meslabel">Measurement</label><div id="meslabel"></div></td>
								<td class="table-4"><label for="edlabel">Edit/Delete</label><div id="edlabel"></div></td>
							</tr>
							<tr ng-repeat="ingredient in recipe.ingredients">
								<td class="table-1">{{recipe.ingredient[$index].name}}</td>
								<td class="table-2">{{recipe.ingredient[$index].amount}}</td>
								<td class="table-3">{{recipe.ingredient[$index].type}}</td>
								<td class="table-4" id="table-button">
									<div id="box-align">
										<button type="button" class="btn btn-primary btn-xs">
											<div class="glyphicon glyphicon-edit" id="ingButton"></div>
										</button>
										&nbsp;
										<button type="button" class="btn btn-primary btn-xs" ng-click="removeIngredient($index)">
											<div class="glyphicon glyphicon-trash" id="ingButton"></div>
										</button>
									</div>
								</td>
								<button ng-click="addIngredient(recipe.ingredient)">Add</button>
							</tr>
						</table>
						<table class="table ingredient">	
							<tr>	
								<td class="table-1b">
									<div class="addSearcher" ><input type="text" style="width: 16em;" placeholder="Search for add in table..." ng-model="name" ng-change="updateTypeHead()" typeahead="food.Name for food in foods | filter:$viewValue | limitTo:4"></div>
								</td>
								<td class="table-2b">
									<div class="addQuant"><input type="number" min="0.0" step="0.01" max="999" style="width: 4.5em;" placeholder="0" ng-model="amount"></div>
								</td>
								<td class="table-3b">
									<select id="mesureSelect" ng-model="type">
										<option>tsk</option>
										<option>g</option>
										<option>kg</option>
										<option>bolli</option>
										<option>stk</option>
									</select>	
								</td>
								<td class="table-4b" class="table-button">
									<div id="box-align">
										<button type="button" class="btn btn-primary btn-xs" id="ingButtonPlus" style="width: 4em;" ng-click="addIngredient()">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="quickNotes">Quick Description</label>
							<div id="quickNotes"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-quickNotes">
						<textarea class="form-control" id="" rows="3" placeholder="Example: Here's a perky variation on pork chops and mushroom gravy. Coat the chops with a mixture of bread crumbs and Parmesan cheese before browning."></textarea>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="direction">Directions</label>
							<div id="direction"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-direction" >
						<textarea  id="" class="form-control" rows="3" placeholder="Please add new steps for each part of the recipe, by using the button below."></textarea>
						<p id="button-direction">
						<button type="button" class="btn btn-primary btn-xs">Add new step</button>
						</p>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="prep">Other Information</label>
							<div id="prep"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-prep">
						<div class="row">
							<div class="col-md-4">
								<label for="prepTime">Prep Time</label>
							    <input type="text" class="form-control" id="prepTime" placeholder="Example: 10 minutes">
							</div>
							<div class="col-md-4">
								<label for="cookTime">Cook Time</label>
							    <input type="text" class="form-control" id="cookTime" placeholder="Example: 15 minutes.">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">	
								<label for="readyIn">Ready In</label>
						    	<input type="text" class="form-control" id="readyIn" placeholder="Example: 15 minutes.">
							</div>
							<div class="col-md-4">
								<label for="numbServ">Number of Servings</label>
								<input type="text" class="form-control" id="numbServ" placeholder="Example: 4">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="recipeYield">Recipe Yield</label>
						    	<input type="text" class="form-control" id="recipeYield" placeholder="Example: One loaf">
							</div>	
						</div>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="whoSee">Who should be able to see this recipe?</label>
							<div id="whoSee"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-see"> 
						<span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Everyone</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
		                <span class="button-checkbox" checker>
		                    <button type="button" class="btn" data-color="primary">Only me</button>
		                    <input type="checkbox" class="hidden" />
		                </span>
					</div>
				</div>
				<div class="addlabel">
					<div class="row">
						<div id="col-md-8">
							<label for="notes">Notes</label>
							<div id="notes"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-notes">
						
						<textarea class="form-control" id="" rows="3" placeholder="Example: to thiken sauce, use cream."></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" id="addContainer-subsbutton">
						<button type="button" class="btn btn-default">Preview</button>
						<button type="button" class="btn btn-default">Cancel</button>
						<button type="button" class="btn btn-default">Post</button>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" id="addContainer-right">
			<div class="nutrition-label">
			<section class="performance-facts">
				<header class="performance-facts__header">
					<h1 class="performance-facts__title">Nutrition Facts</h1>
					<p>Serving Size 1/2 cup (about 82g)
					<p>Serving Per Container 8</p>
				</header>
				<table class="performance-facts__table">
					<thead>
						<tr>
							<th colspan="3" class="small-info">
								Amount Per Serving
							</th>
						</tr>
					</thead>
						<tbody>
							<tr>
								<th colspan="2">
									<b>Calories</b>
									200
								</th>
								<td>
									Calories from Fat
									130
								</td>
							</tr>
							<tr class="thick-row">
								<td colspan="3" class="small-info">
									<b>% Daily Value*</b>
								</td>
							</tr>
							<tr>
								<th colspan="2">
									<b>Total Fat</b>
									14g
								</th>
								<td>
									<b>22%</b>
								</td>
							</tr>
							<tr>
								<td class="blank-cell">
								</td>
								<th>
									Saturated Fat
									9g
								</th>
								<td>
									<b>22%</b>
								</td>
							</tr>
							<tr>
								<td class="blank-cell">
								</td>
								<th>
									Trans Fat
									0g
								</th>
								<td>
								</td>
							</tr>
							<tr>
								<th colspan="2">
									<b>Cholesterol</b>
									55mg
								</th>
								<td>
									<b>18%</b>
								</td>
							</tr>
							<tr>
								<th colspan="2">
									<b>Sodium</b>
									40mg
								</th>
								<td>
									<b>2%</b>
								</td>
							</tr>
							<tr>
								<th colspan="2">
								<b>Total Carbohydrate</b>
								17g
								</th>
								<td>
									<b>6%</b>
								</td>
							</tr>
							<tr>
								<td class="blank-cell">
								</td>
								<th>
									Dietary Fiber
									1g
								</th>
								<td>
									<b>4%</b>
								</td>
							</tr>
							<tr>
								<td class="blank-cell">
								</td>
								<th>
									Sugars
									14g
								</th>
								<td>
								</td>
							</tr>
							<tr class="thick-end">
								<th colspan="2">
									<b>Protein</b>
									3g
								</th>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="performance-facts__table--grid">
						<tbody>
							<tr>
								<td colspan="2">
									Vitamin A
									10%
								</td>
								<td>
									Vitamin C
									0%
								</td>
							</tr>
							<tr class="thin-end">
								<td colspan="2">
									Calcium
									10%
								</td>
								<td>
									Iron
									6%
								</td>
							</tr>
						</tbody>
					</table>
					<p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>
					<table class="performance-facts__table--small small-info">
						<thead>
							<tr>
								<td colspan="2"></td>
								<th>Calories:</th>
								<th>2,000</th>
								<th>2,500</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2">Total Fat</th>
								<td>Less than</td>
								<td>65g</td>
								<td>80g</td>
							</tr>
							<tr>
								<td class="blank-cell"></td>
								<th>Saturated Fat</th>
								<td>Less than</td>
								<td>20g</td>
								<td>25g</td>
							</tr>
							<tr>
								<th colspan="2">Cholesterol</th>
								<td>Less than</td>
								<td>300mg</td>
								<td>300 mg</td>
							</tr>
							<tr>
								<th colspan="2">Sodium</th>
								<td>Less than</td>
								<td>2,400mg</td>
								<td>2,400mg</td>
							</tr>
							<tr>
								<th colspan="3">Total Carbohydrate</th>
								<td>300g</td>
								<td>375g</td>
							</tr>
							<tr>
								<td class="blank-cell"></td>
								<th colspan="2">Dietary Fiber</th>
								<td>25g</td>
								<td>30g</td>
							</tr>
						</tbody>
					</table>
					<p class="small-info">	
					Calories per gram:
					</p>
					<p class="small-info text-center">
						Fat 9
						&bull;
						Carbohydrate 4
						&bull;
						Protein 4
					</p>
				</section>
			</div>
		</div>
	</div>
</div>