<div ng-controller="statisticController" id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#defaultz" data-toggle="tab">Default</a></li> 
        <li><a data-target="#miniral" data-toggle="tab">Miniral</a></li>
        <li><a data-target="#vitamin" data-toggle="tab">Vitamin</a></li>
        <li><a data-target="#fatAcid" data-toggle="tab">Fat Acid</a></li>
        <li><a data-target="#myLabel" data-toggle="tab">My Nutrition Label</a></li>
        <li><a data-target="#custom" data-toggle="tab">Custom</a></li> 
        <li><a data-target="#body" data-toggle="tab">My Body</a></li>   
    </ul>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="defaultz">
                <div class="col-md-12">
                    fyrir stuff
                    <!--<div id="chart1" style="height:400px;width:900px; "></div>-->
                    eftir stuff
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Prótein (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox3" value="option3"> Kolvetni (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox4" value="option4"> Trefjaefni (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox5" value="option5"> Sykrur (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox6" value="option6"> Viðbættur sykur (g)</label>     
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox2" value="option2"> Fita (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox8" value="option8"> Vatn (g)</label>                  
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox7" value="option7"> Kólesteról (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox9" value="option9"> Alkóhól (g) </label> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="tab-pane" id="miniral">
                <div class="col-md-12">asdf</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Magnesíum (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Joð (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fosfór (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Járn (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Sink (mg)</label>  
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kalk (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kopar (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Natríum (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Selen (µg) </label>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="vitamin">
                <div class="col-md-12">asdf</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B2-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B6-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B-12 vítamín (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> C-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> D-vítamín (µg)</label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> E-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Retinol (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Beta-karótín (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Níasín-jafngildi (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fólat (µg)</label>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="fatAcid">
                <div class="col-md-12">asdf</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Mettaðar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Einómettaðar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar (g)</label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-3 langar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-6 (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-3 (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> trans-Fitusýrur (g)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                                <div class="col-sm-5">
                                    <!-- Extra content area -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="myLabel">
                <div class="col-md-12">asdf</div>
                <div class="col-md-12"></div>
            </div>
            <div class="tab-pane" id="body">
                 <div class="col-md-12">
                    fyrir stuff
                    <!--<div id="chart1" style="height:400px;width:900px; "></div>-->
                    eftir stuff
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Weight</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox3" value="option3"> Body Fat %</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox4" value="option4"> Body Metabolic Rate</label>
                                    

                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox5" value="option5"> Body Mass Index</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox6" value="option6"> Body Lean Mass</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox6" value="option6"> Body Fat Mass</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox2" value="option2"> Neck</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox8" value="option8"> Shoulder</label>                  
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox7" value="option7"> Cheast</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox9" value="option9"> Bicep</label> 
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox9" value="option9"> Forearm</label>    
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Waist</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox3" value="option3"> Hips</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox4" value="option4"> Upper Thigh</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox5" value="option5"> Middle Thigh</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox9" value="option9"> Calf</label>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="custom">
                <div class="col-md-12" style="border:1px solid black;">Custom</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Prótein (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fita (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kolvetni (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Trefjaefni (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Sykrur (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Viðbættur sykur (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kólesteról (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Vatn  (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Alkóhól (g) </label>
                                </div>
                                 <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Magnesíum (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Joð (µg) </label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fosfór (mg)  </label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Járn (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Sink (mg) </label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kalk (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Kopar (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Natríum (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Selen (µg) </label> 
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B2-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B6-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> B-12 vítamín (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> C-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> D-vítamín (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> E-vítamín (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Retinol (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Beta-karótín (µg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Níasín-jafngildi (mg)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fólat (µg)</label>    
                                </div>
                                <div class="col-sm-5">
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fitusýrur</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Mettaðar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Einómettaðar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-3 langar (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-6 (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> Fjölómettaðar n-3 (g)</label>
                                    <label class="checkbox"><input type="checkbox" id="inlineCbox1" value="option1"> trans-Fitusýrur (g)</label>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> 